<div id="liv-content-container-our-story" class="liv-content-container">
	<h2 class="liv-overlay-text liv-content-heading left">Contact Us</h2>

	<!--<div>
		<img id="liv-img-our-story" class="liv-img-full" src="/images/strawberry.jpg" />
	</div>-->

</div>

<h3 id="liv-contact-us">customer.service@alwayslivon.com</h3>