<!DOCTYPE html>
<html>
  <head>
    <title><%=typeof title == 'undefined' ? 'Liv On - Plant Based Protein Powder' : title%></title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">


    <!--
        Stylesheets and Preprocessors
        ==============================

        You can always bring in CSS files manually with `<link>` tags, or asynchronously
        using a solution like AMD (RequireJS).  Or, if you like, you can take advantage
        of Sails' conventional asset pipeline (boilerplate Gruntfile).

        By default, stylesheets from your `assets/styles` folder are included
        here automatically (between STYLES and STYLES END). Both CSS (.css) and LESS (.less)
        are supported. In production, your styles will be minified and concatenated into
        a single file.

        To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
        For example, here are a few things you could do:

            + Change the order of your CSS files
            + Import stylesheets from other directories
            + Use a different or additional preprocessor, like SASS, SCSS or Stylus
    -->
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <!--STYLES-->
    <link rel="stylesheet" href="/styles/app.css">
    <link rel="stylesheet" href="/styles/importer.css">
    <link rel="stylesheet" href="/styles/lightbox.min.css">
    <!--STYLES END-->


    <!-- MEF Code -->
    <script>
    (function(m,e,f,g,r,o,w) {
      if (m[r]) return; 

    m[r] = m[r] || function() {  
      m[r].callMethod ? m[r].callMethod.apply(m[r], arguments) :
      (m[r].queue = m[r].queue || []).push(arguments);
     };

     o = e.createElement(f);
     w = e.getElementsByTagName(f)[0];
     o.async = 1;
     o.src = g;
     w.parentNode.insertBefore(o,w); 


    })(window, document, 'script', 'http://localhost:1340/js/mef.js', 'mef');

    mef('bind', 'b037e2761813449e3eab9dbbb4ee17b45f731c72eb');

    </script>
    <!-- End MEF Code -->
  </head>

  <body>
    <!--put site navigation menu here -->
    <div id="liv-nav-container">
      <!--<button id="liv-hamburger" class="liv-mb">&#9776;</button>-->
      <i id="liv-hamburger"  class="liv-mb fa fa-bars" aria-hidden="true"></i>
      <a id="liv-logo-mb" class="liv-mb" href="/">
        <img id="liv-logo-img-mb" src="/images/liv_on_logo_centered.png?v=1.1" />
      </a>
      <a id="liv-cart-logo-mb" class="liv-cart-logo liv-mb" href="/cart"><img class="liv-cart" src="/images/liv_on_cart.png" /><span id="liv-cart-count-mb" class="liv-cart-count liv-hidden">(0)</span></a>

      <div id="liv-nav-mb" class="liv-mb">
        <ul>
          <li><a href="/products">Products</a></li>
          <li><a href="/our-story">Our Story</a></li>
          <li><a href="/recipes">Recipes</a></li>
          <li><a href="/blog">Blog</a></li>
        </ul>
      </div>

     <a id="liv-logo" class="liv-dt" href="/">
        <img id="liv-logo-img" src="/images/liv_on_logo.png?v=1.1" />
     </a>
     <div id="liv-nav" class="liv-dt">
        <ul>
          <li><a href="/products">Products</a></li>
          <li><a href="/our-story">Our Story</a></li>
          <li><a href="/recipes">Recipes</a></li>
          <li><a href="/blog">Blog</a></li>
          <li><a class="liv-cart-logo" href="/cart"><img class="liv-cart" src="/images/liv_on_cart.png" /><span id="liv-cart-count" class="liv-cart-count liv-hidden">(0)</span></a></li>
        </ul>
      </div>
    </div>

    <%- body %>

    <footer id="liv-footer">
      <span id="liv-footer-copyright">&copy; 2018 Liv On</span>
      <span id="liv-footer-content"><a href="/contact-us">Contact Us</a> | <a href="/our-story">About Us</a> | <a href="/terms-and-conditions">Terms &amp; Conditions</a> | <a href="/privacy-policy">Privacy Policy</a></span>
    </footer>

    <!--
        Client-side Templates
        ========================

        HTML templates are important prerequisites of modern, rich client applications.
        To work their magic, frameworks like Backbone, Angular, Ember, and Knockout require
        that you load these templates client-side.

        By default, your Gruntfile is configured to automatically load and precompile
        client-side JST templates in your `assets/templates` folder, then
        include them here automatically (between TEMPLATES and TEMPLATES END).

        To customize this behavior to fit your needs, just edit `tasks/pipeline.js`.
        For example, here are a few things you could do:

            + Import templates from other directories
            + Use a different template engine (handlebars, jade, dust, etc.)
            + Internationalize your client-side templates using a server-side
              stringfile before they're served.
    -->

    <!--TEMPLATES-->
    
    <!--TEMPLATES END-->


    <!--

      Client-side Javascript
      ========================

      You can always bring in JS files manually with `script` tags, or asynchronously
      on the client using a solution like AMD (RequireJS).  Or, if you like, you can
      take advantage of Sails' conventional asset pipeline (boilerplate Gruntfile).

      By default, files in your `assets/js` folder are included here
      automatically (between SCRIPTS and SCRIPTS END).  Both JavaScript (.js) and
      CoffeeScript (.coffee) are supported. In production, your scripts will be minified
      and concatenated into a single file.

      To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
      For example, here are a few things you could do:

          + Change the order of your scripts
          + Import scripts from other directories
          + Use a different preprocessor, like TypeScript

    -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
      crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://checkout.stripe.com/checkout.js"></script>
    <!--SCRIPTS-->
    <script src="/js/analytics-html5-video.js"></script>
    <script src="/js/cart.js"></script>
    <script src="/js/checkout-exps.js"></script>
    <script src="/js/checkout.js"></script>
    <script src="/js/details.js"></script>
    <script src="/js/letter.js"></script>
    <script src="/js/lightbox.min.js"></script>
    <script src="/js/mobile.js"></script>
    <script src="/js/one.js"></script>
    <script src="/js/promo.js"></script>
    <script src="/js/signup.js"></script>
    <!--SCRIPTS END-->
  </body>
</html>
