<div id="liv-content-container-our-story" class="liv-content-container">
	<h2 class="liv-overlay-text liv-content-heading left">Our Story</h2>

	<!--<div>
		<img id="liv-img-our-story" class="liv-img-full" src="/images/strawberry.jpg" />
	</div>-->

</div>

<div id="liv-text-container-our-story">
	<p id="liv-content-our-story">
	I lost my Aunt Cream to lung cancer in August 2016. She didn’t smoke. She was 51 years young - a good person who left behind 3 beautiful children. The last time I saw her, the Christmas before she passed, her children had changed her over to a mostly plant-based diet to fight the cancer. It helped, but it was too late. She was in poor health, the kind you’d never want to see yourself or your loved ones in, and she wasn’t going to recover. Had she adopted a plant-based diet even 3 years earlier when she was cancer-free &amp; healthy, maybe today we would all still be making good memories in the living room, telling jokes &amp; laughing without a care in the world…
	<br>
	<br> 
	I started this company so it’s not too late for you, your loved ones, and others who’ve unknowingly spent years eating unhealthy foods, lied to by a mainstream meat-based food industry who cares about profit at the expense of your life. Don’t let this happen to you. Don’t let your life slip away too soon. Be here today, tomorrow &amp; for years to come.
	<br>
	<br>
	<b>Jabari Holloway - Liv On Founder, MIT Chemical Engineer</b>
	</p>
</div>