<div id="liv-content-container-our-story" class="liv-content-container">
	<h2 class="liv-overlay-text liv-content-heading left">Privacy Policy</h2>

	<!--<div>
		<img id="liv-img-our-story" class="liv-img-full" src="/images/strawberry.jpg" />
	</div>-->

</div>

<div id="liv-text-container-our-story">
	<p id="liv-content-our-story" style="white-space: pre-line;">
	PRIVACY POLICY

 

BY VISITING ALWAYSLIVON.COM, YOU ARE CONSENTING TO OUR PRIVACY POLICY.


Overview

Liv On Plant Based Nutrition LLC (“Liv On”) is committed to protecting your privacy online. This Privacy Policy describes the personal information we collect through this website at alwayslivon.com (the “Site”), and how we collect and use that information.
The terms “we”, “us” and “our” and “Liv On” refer to Liv On Plant Based Nutrition LLC. The term “user,” “you” and “your” refers to site visitors, customers and any other users of the site.


The term “personal information” is defined as information that you voluntarily provide to us which personally identifies you and/or your contact information, such as your name, phone number and email address.

Liv On provides a service (the “Service”) where users may purchase plant-based food products (such as plant-based protein powder) and a website where users may read articles on recipes, health, and fitness advice related to plant-based nutrition.


Use of alwayslivon.com, including all materials presented herein and all online services provided by Liv On, is subject to the following Privacy Policy. This Privacy Policy applies to all site visitors, customers, and all other users of the site. By using the Site or Service, you agree to this Privacy Policy, without modification, and acknowledge reading it.


Information We Collect

Product Orders. We collect a variety of personal information with each product order. This includes: Your name, address, email address and phone number. We use your email to communicate with you about your order and to manage our customer relationship with you. When you place an order you may be added to our mailing list from which you can unsubscribe at any time using the unsubscribe link in each email or by contacting us at customer.service@alwayslivon.com.

Your payment information. We collect payment information for each order but we do not store payment information on Liv On servers. Your payment information is securely communicated to and processed via our e-commerce software providers. All personal information collected for an order is used for the fulfillment of that order and to manage our customer relationship with you.

Blog Interaction. We only collect the personal information you voluntarily provide to us which may include: Your email address in order to subscribe to our mailing list; Your name, email address and/or social media profile in order to post a comment on our blog via third party provider, Disqus; Your full name, email address and message in order to contact us via our contact form.

Activity. We may record information relating to your use of the Site, such as the searches you undertake, the pages you view, your browser type, IP address, requested URL, referring URL, and timestamp information. We use this type of information to administer the Site and provide the highest possible level of service to you. We also use this information in the aggregate to perform statistical analyses of user behavior and characteristics in order to measure interest in and use of the various areas of the Site.

Cookies. We may send cookies to your computer in order to uniquely identify your browser and improve the quality of our service. The term “cookies” refers to small pieces of information that a website sends to your computer’s hard drive while you are viewing the Site. We may use both session cookies (which expire once you close your browser) and persistent cookies (which stay on your computer until you delete them). You have the ability to accept or decline cookies using your web browser settings. If you choose to disable cookies, some areas of the Site may not work properly or at all.


How Your Information is Used

The information you provide is used to process transactions, send periodic emails and improve the service we provide. We do share your information with trusted third parties who assist us in operating our website, conducting our business and servicing clients and visitors. These trusted third parties agree to keep this information confidential. Your personal information will never be shared with unrelated third parties.


Third Party Links

The Site may contain links to third party websites. Except as otherwise discussed in this Privacy Policy, this document only addresses the use and disclosure of information we collect from you on our Site. Other sites accessible through our site via links or otherwise have their own policies in regard to privacy. We are not responsible for the privacy policies or practices of third parties.

Security

Security Measures. We maintain security measures to protect your personal information from unauthorized access, misuse or disclosure. However, no exchange of data over the Internet can be guaranteed as 100% secure. While we make every effort to protect your personal information shared with us through our Site, you acknowledge that the personal information you voluntarily share with us through this Site could be accessed or tampered with by a third party. You agree that we are not responsible for any intercepted information shared through our Site without our knowledge or permission. Additionally, you release us from any and all claims arising out of or related to the use of such intercepted information in any unauthorized manner.

Sharing. Please be aware that when you use our Site to post comments and share other information, any information that you provide may not be secure and can be collected and used by others. As a result, you should exercise caution before you make such disclosures.

Children. To access or use the Site, you must be 18 years or older and have the requisite power and authority to enter into this Privacy Policy. Children under the age of 18 are prohibited from using the Site.


How to Update Your Information

If you opt-in to our mailing list, the option to unsubscribe or update will be included in every email. You may also access and correct your personal information and privacy preferences by contacting us with your request at customer.service@alwayslivon.com.


Notification of Changes to this Policy

You acknowledge and agree that it is your responsibility to review this Site and this Policy periodically and to be aware of any modifications. Updates to this Policy will be posted on this page.


Contact

If you have questions about our Privacy Policy, please contact us via regular mail or email at:
customer.service@alwayslivon.com




Updated: January 2018
</p>
</div>