<div id="liv-content-container-our-story" class="liv-content-container">
	<h2 class="liv-overlay-text liv-content-heading left">TERMS &amp; CONDITIONS</h2>

	<!--<div>
		<img id="liv-img-our-story" class="liv-img-full" src="/images/strawberry.jpg" />
	</div>-->

</div>

<div id="liv-text-container-our-story">
	<p id="liv-content-our-story" style="white-space: pre-line;">
	BY VISITING ALWAYSLIVON.COM YOU ARE CONSENTING TO OUR TERMS &amp; CONDITIONS.


Overview

The terms “we”, “us”, “our” and “Liv On” refers to Liv On Plant Based Nutrition, LLC. The term the “Site” refers to alwayslivon.com and all sites connected with Liv On Plant Based Nutrition. The term “user,” “you” and “your” refers to site visitors, customers and any other users of the site.

Liv On provides a service (the “Service”) where users may purchase plant-based food products (such as plant-based protein powder) and a website where users may read articles on recipes, health, and fitness advice related to plant-based nutrition.


Use of alwayslivon.com, including all materials presented herein and all online services provided by Liv On Plant Based Nutrition, LLC (“Liv On”), is subject to the following Terms and Conditions. These Terms and Conditions apply to all site visitors, customers, and all other users of the site. By using the Site or Service and/or ordering a product from the Site, you agree to these Terms and Conditions, without modification, and acknowledge reading them.


Use of the Site + Service

To access or use the Site, you must be 18 years or older and have the requisite power and authority to enter into these Terms and Conditions. Children under the age of 18 are prohibited from using the Site. 

Information provided on the Site and in the Service related to recipes, health, and fitness advice related to plant-based nutrition and other information are subject to change. Liv On makes no representation or warranty that the information provided, regardless of its source (the “Content”), is accurate, complete, reliable, current or error-free. Liv On disclaims all liability for any inaccuracy, error or incompleteness in the Content.


Account Creation

In order to use the Service, you may be required to provide information about yourself including your name, email address, username and password and other personal information. You agree that any registration information you give to Liv On will always be accurate, correct and up to date. You must not impersonate someone else or provide account information or an email address other than your own.


Lawful Purposes

You may use the Site and Service for lawful purposes only. Your account must not be used for any illegal or unauthorized purpose. You must not, in the use of the Service, violate any laws in your jurisdiction.

You agree to be financially responsible for all purchases made by you or someone acting on your behalf through the Site. You agree to use the Site and to purchase services or products through the Site for legitimate, non-commercial purposes only.

You shall not post or transmit through the Site any material which violates or infringes the rights of others, or which is threatening, abusive, defamatory, libelous, invasive of privacy or publicity rights, vulgar, obscene, profane or otherwise objectionable, contains injurious formulas, recipes, or instructions, which encourages conduct that would constitute a criminal offense, give rise to civil liability or otherwise violate any law.


Refusal of Service

Liv On reserves the right to refuse service to any order, person or entity without obligation to assign reason for doing so. Liv On reserves the right to limit the number of participants in any given online class, workshop, or seminar. Liv On may at any time change or discontinue any aspect or feature of the Site or Service.


Order Confirmation

We will email you to confirm the placement of your order and with details concerning product or service delivery. In the event that there is an error in this email confirmation, it is your responsibility to inform us as soon as possible.

If you’ve signed up for a subscription with us, the subscription renews automatically and your credit card will be charged fees stated at the time of purchase (or the introductory rate during introductory period). Price may change at the end of your subscription period. Your subscription will start as soon as your credit card is successfully charged.

If you have signed up for an online class or workshop, confirmation that we have received your order and payment does not constitute acceptance into the class or workshop. We will email you separately to confirm that you have been accepted into the class or workshop.

If you have submitted a deposit or payment in full for a service, Liv On has the exclusive right to deny service if deemed necessary. If service is denied, a refund will be provided in full.



Cancellations, Refunds &amp; Returns

RETURNS

----

Our policy lasts 30 days. If 30 days have gone by since your purchase, unfortunately we can’t offer you a refund or exchange.

To be eligible for a return, your item must be unused and in the same condition that you received it. It must also be in the original packaging.

Several types of goods are exempt from being returned. Perishable goods such as food, flowers, newspapers or magazines cannot be returned. We also do not accept products that are intimate or sanitary goods, hazardous materials, or flammable liquids or gases.

Additional non-returnable items:
* Gift cards
* Downloadable software products
* Some health and personal care items

To complete your return, we require a receipt or proof of purchase.

Please do not send your purchase back to the manufacturer.

There are certain situations where only partial refunds are granted: (if applicable)
* Book with obvious signs of use
* CD, DVD, VHS tape, software, video game, cassette tape, or vinyl record that has been opened.
* Any item not in its original condition, is damaged or missing parts for reasons not due to our error.
* Any item that is returned more than 30 days after delivery

Refunds (if applicable)
Once your return is received and inspected, we will send you an email to notify you that we have received your returned item. We will also notify you of the approval or rejection of your refund.
If you are approved, then your refund will be processed, and a credit will automatically be applied to your credit card or original method of payment, within a certain amount of days.

Late or missing refunds (if applicable)
If you haven’t received a refund yet, first check your bank account again.
Then contact your credit card company, it may take some time before your refund is officially posted.
Next contact your bank. There is often some processing time before a refund is posted.
If you’ve done all of this and you still have not received your refund yet, please contact us at customer.service@alwayslivon.com.

Sale items (if applicable)
Only regular priced items may be refunded, unfortunately sale items cannot be refunded.

Exchanges (if applicable)
We only replace items if they are defective or damaged.  If you need to exchange it for the same item, send us an email at %{email %> and send your item to: 205 W Crosstimbers Rd, Houston, TX, 77006, United States.

Gifts
If the item was marked as a gift when purchased and shipped directly to you, you’ll receive a gift credit for the value of your return. Once the returned item is received, a gift certificate will be mailed to you.

If the item wasn’t marked as a gift when purchased, or the gift giver had the order shipped to themselves to give to you later, we will send a refund to the gift giver and he will find out about your return.

Shipping
To return your product, you should mail your product to: 205 W Crosstimbers Rd, Houston, TX, 77006, United States.

You will be responsible for paying for your own shipping costs for returning your item. Shipping costs are non-refundable. If you receive a refund, the cost of return shipping will be deducted from your refund.

Depending on where you live, the time it may take for your exchanged product to reach you, may vary.

If you are shipping an item over $75, you should consider using a trackable shipping service or purchasing shipping insurance. We don’t guarantee that we will receive your returned item.





Product Description

We endeavor to describe and display the Service as accurately as possible. While we try to be as clear as possible in explaining the Service, please do not accept that the Site is entirely accurate, current, or error-free. From time to time we may correct errors in pricing and descriptions, because we might not have drank enough coffee the day we published something. We reserve the right to refuse or cancel any order with an incorrect price listing.


Material You Submit to the Site

You shall not upload, post or otherwise make available on the Site any artwork, photos or other materials (collectively “Materials”) protected by copyright, trademark or other proprietary right without the express written permission of the owner of the copyright, trademark or other proprietary right. The burden of determining that any Materials are not so protected rests entirely with you. You shall be liable for any damage resulting from any infringement of copyrights, trademarks, or other proprietary rights, or any other harm resulting from such a submission and shall indemnify Liv On from any claim against Liv On resulting from your posting of Materials to the site. For all Materials submitted by you to the Site, you automatically represent or warrant that you have the authority to use and distribute the Materials, and that the use or display of the Materials will not violate any laws, rules, regulations or rights of third parties.

Liv On reserves the right to remove from the site any Materials submitted by you that it deems inappropriate for the site or that appears to violate these terms and conditions.


Intellectual Property Rights to Your Materials

Liv On does not claim ownership of Material you supply to Liv On. However, the act of posting Material to the site conveys an irrevocable, worldwide license to Liv On to use and distribute the posted Material in connection with Liv On’s website and any related Liv On publications. You retain copyright ownership and any other rights you may rightfully hold in any content that you submit through the Service. By submitting Material to Liv On, you agree to hold Liv On harmless from and against all claims, liabilities and expenses arising out of any potential or actual copyright or trademark misappropriation or infringement claimed against you.


Our Intellectual Property

All content provided on the Site and in the Service are the intellectual property of Liv On. The content of the Site and Service are protected by United States trademark, trade dress and copyright law. You may not modify, publish, transmit, participate in the transfer or sale of, create derivative works from, distribute, display, reproduce or perform, or in any way exploit in any format whatsoever any of the content of the Site or the Service, in whole or in part without our prior written consent. You may not remove any trademark, copyright, or other notice from the content of the Site or the Service. We reserve the right to immediately remove you from the Service, without refund, at to pursue all available legal remedies against you if you are caught violating this intellectual property policy.


Affiliate Disclaimer

The purpose of this website is to be educational. There are a lot of ideas here, and there are also a lot of suggestions for products, websites, and advice on health & fitness. Some of the links to these tools and websites are regular links. And some of these links are links that, if you click them and purchase, Liv On might get a commission in exchange.


Changed Terms

We may at any time amend these Terms and Conditions. Such amendments are effective immediately upon notice to you by us posting the new Terms and Conditions on this Site. Any use of the Site or Service by you after being notified means you accept these amendments. We reserve the right to update any portion of our Site and Service, including these Terms and Conditions at any time. We will post the most recent versions to the Site and list the effective dates on the pages of our Terms and Conditions.


Limitation of Liability
You agree that under no circumstances shall we be liable for direct, indirect, incidental, consequential, special, punitive, exemplary, or any other damages arising out of your use of the Site or Service. Additionally, Liv On is not liable for damages in connection with (i) any failure of performance, error, omission, denial of service, attack, interruption, deletion, defect, delay in operation or transmission, computer virus or line or system failure; (ii) loss of revenue, anticipated profits, business, savings, goodwill or data; and (iii) third party theft of, destruction of, unauthorized access to, alteration of, or use of your information or property, regardless of our negligence, gross negligence, failure of an essential purpose and whether such liability arises in negligence, contract, tort, or any other theory of legal liability.

The foregoing applies even if Liv On has been advised of the possibility of or could have foreseen the damages. In those states that do not allow the exclusion or limitation of liability for the damages, our liability is limited to the fullest possible extent permitted by law. In no event shall Liv On’s cumulative liability to you exceed the total purchase price of the Service you have purchased from Liv On, and if no purchase has been made by you, Liv On’s cumulative liability to you shall not exceed $100.


Third Party Resources

The Site and the Service contain links to third party websites and resources. You acknowledge and agree that we are not responsible or liable for the availability, accuracy, content or policies of third party websites or resources. Links to such websites or resources do not imply any endorsement by or affiliation with Liv On. You acknowledge sole responsibility for and assume all risk arising from your use of any such websites or resources.


Indemnification

You shall indemnify and hold us harmless from and against any and all losses, damages, settlements, liabilities, costs, charges, assessments and expenses, as well as third party claims and causes of action, including, without limitation, attorneys’ fees, arising out of any breach by you of any of these Terms and Conditions, or any use by you of the Site or Service. You shall provide us with such assistance, without charge, as we may request in connection with any such defense, including, without limitation, providing us with such information, documents, records and reasonable access to you, as we deem necessary. You shall not settle any third party claim or waive any defense without our prior written consent.


Effect of Headings

The subject headings of the paragraphs and subparagraphs of this Agreement are included for convenience only and shall not affect the construction or interpretation of any of its provisions.


Waiver

No waiver of any of the provisions of this Agreement by Liv On shall be deemed, or shall constitute, a waiver of any other provision, whether or not similar, nor shall any waiver constitute a continuing waiver. No waiver shall be binding unless executed in writing by Liv On.


Notices

All notices, requests, demands, and other communications under this Agreement shall be in writing and properly addressed as follows: 

Liv On Plant Based Nutrition, LLC 
205 W Crosstimbers Rd.
Houston, TX 77018



Governing Law; Venue; Mediation

This Agreement shall be construed in accordance with, and governed by, the laws of the State of Texas as applied to contracts that are executed and performed entirely in Texas. The exclusive venue for any arbitration or court proceeding based on or arising out of this Agreement shall be __________________. The parties agree to attempt to resolve any dispute, claim or controversy arising out of or relating to this Agreement by mediation, which shall be conducted under the then current mediation procedures of The CPR Institute for Conflict Prevention &amp; Resolution or any other procedure upon which the parties may agree. The parties further agree that their respective good faith participation in mediation is a condition precedent to pursuing any other available legal or equitable remedy, including litigation, arbitration or other dispute resolution procedures.


Recovery of Litigation Expenses

If any legal action or any arbitration or other proceeding is brought for the enforcement of this Agreement, or because of an alleged dispute, breach, default, or misrepresentation in connection with any of the provisions of this Agreement, the successful or prevailing party or parties shall be entitled to recover reasonable attorneys’ fees and other costs incurred in that action or proceeding, in addition to any other relief to which it or they may be entitled.


Severability

If any term, provision, covenant, or condition of this Agreement is held by an arbitrator or court of competent jurisdiction to be invalid, void, or unenforceable, the rest of the Agreement shall remain in full force and effect and shall in no way be affected, impaired, or invalidated.


Assignment

These Terms and Conditions bind and inure to the benefit of the parties’ successors and assigns. These Terms and Conditions are not assignable, delegable, sub licensable or otherwise transferable by you. Any transfer, assignment, delegation or sublicense by you is invalid.


 
Updated: January 2018 

	</p>
</div>