<style>

	#liv-ltr-cover-container {
		/*background-image: url('../images/letters/embrace-your-inner-goddess/title_image_dt_web.jpg');
		background-size: cover;
		height: 100vh;*/
		position: relative;
	}

	#liv-ltr-cover-img {
		height: 100%;
		width: 100%;
	}

	#liv-ltr-cover-img.dt {
			display: block;
		}

		#liv-ltr-cover-img.mb {
			display: none;
		}

	#liv-ltr-offer-container {
		position: absolute;
		right: 0;
		top: 0;
		margin-right: 40px;
		margin-top: 20px;
	}

	#liv-ltr-usp {
		margin-left: 20px;
	}

	#liv-ltr-cta-special, #liv-ltr-scroll-msg {
			margin-left: 20px;
		}

	.liv-ltr-btn-cta {
    	color: #ffffff;
    	background-color: #30d97c;
    	width: 500px;
   		height: 100px;
    	line-height: 1;
    	padding: 20px;
    	text-align: center;
    	font-size: 24px;
    	display: block;
	}

	.liv-ltr-btn-cta.wide {
		width: 90%;
		margin: 0 auto;
		margin-top: 20px;
	}

	.liv-ltr-btn-cta:hover {
		background-color: #0fe66f;
	}

	#liv-ltr-cta-container {
		margin-top: 75px;
	}

	#liv-ltr-cta-special {
		font-size: 24px;
	}

	.liv-ltr-section-hdr {
		text-align: center;
		font-size: 40px;
	}

	.liv-ltr-section-sub-hdr {
		text-align: center;
		font-size: 32px;
	}

	.liv-ltr-content-container {
		max-width: 900px;
		display: flex;
		position: relative;
		margin: 0 auto;
		position: relative;
	}


	.liv-ltr-content-container:after { 
    	content: " "; 
    	display: block;
    	clear: both;
	}

	.liv-ltr-content-container.dt {
			display: block;
		}

		.liv-ltr-content-container.mb {
			display: none;
		}

	.liv-ltr-content-container.wide {
		display: block;
	}

	.liv-ltr-content-container.wide.small {
		max-width: 550px;
	}

	.liv-ltr-content-container.center {
		text-align: center;
	}

	.liv-ltr-content-container p {
		font-size: 20px;
	}

	.liv-ltr-content-container.more-space p {
		margin-bottom: 25px;
	}

	.liv-ltr-col-l {
		float: left;
		position: relative;
		margin-right: 25px;
		width: 350px;
	}

	.liv-ltr-col-r {
		float: right;
		position: relative;
		width: 500px;
	}

	.liv-ltr-col-r.more-space p {
		margin-bottom: 25px;
	}

	.liv-ltr-content-img {
		width: 100%;
	}

	.liv-ltr-sct-break {
		width: 90%;
	}

	#liv-ltr-prod-img {
		width: 50%;
		height: 50%;
		text-align: center;
		position: relative;
		margin: 0 auto;
	}

	#liv-ltr-prod-name {
		font-size: 32px;
	}

	.liv-ltr-font-md {
		font-size: 24px;
	}

	.liv-ltr-font-md.top {
		margin-top: 0;
	}

	.liv-ltr-font-sm {
		font-size: 20px;
	}

	#liv-ltr-modal-overlay {
		position: fixed;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		background-color: #333;
		opacity: 0.6;
	}

	#liv-ltr-pay-option {
		height: 325px;
		width: 500px;
		background-color: #fff;
		position: fixed;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		text-align: center;
	}

	.liv-ltr-btn-pay-opt {
    	color: #ffffff;
    	background-color: #30d97c;
    	width: 300px;
   		height: 75px;
    	line-height: 1;
    	padding: 20px;
    	border-radius: 40px;
    	text-align: center;
    	font-size: 24px;
    	display: block;
    	margin: 20px auto;
    	position: relative;
    	display: block;
	}

	.liv-ltr-btn-pay-opt:hover {
    	color: #ffffff;
    	background-color: #0fe66f;
    	text-decoration: none;
	}

	.liv-ltr-btn-modal-close {
		font-size: 16px;
	}

	.liv-ltr-modal {
		overflow: hidden;
	}

	/********* Liv Sales Letters - Mobile *********/
	@media screen and (max-width: 1024px) {

		#liv-ltr-offer-container {
   
   			 margin-right: 10px;
   			 text-align: right;
   			}

   		#liv-ltr-cta-container {
   			margin-top: 25px;
   		}

   		#liv-ltr-prod-desc {
			font-size: 22px;
		}



	}




	@media screen and (max-width: 768px) {
		#liv-ltr-offer-container {
			position: relative;
			text-align: center;
			margin: 0 auto;
		}

		.liv-ltr-btn-cta {
			margin: 0 auto;
			width: 90%;
		}

		#liv-ltr-cover-img.dt {
			display: none;
		}

		#liv-ltr-cover-img.mb {
			display: block;
		}

		.liv-ltr-section {

		}

		.liv-ltr-content-container {
			width: 80%;
		}

		.liv-ltr-content-container.dt {
			display: none;
		}

		.liv-ltr-content-container.mb {
			display: block;
			/*text-align: center;*/
		}

		.liv-ltr-section-hdr, .liv-ltr-section-sub-hdr, #liv-ltr-scroll-msg {
			width: 90%;
			margin-left: auto;
			margin-right: auto;
		}

		#liv-ltr-prod-img {
			width: 100%;
		}

		#liv-ltr-cta-container {
			margin-top: 25px;
		}





	}


	/********* End Liv Sales Letters - Mobile *********/

</style>



<div id="liv-ltr-cover-container">
	<img id="liv-ltr-cover-img" class="dt" src="/images/letters/embrace-your-inner-goddess/title_image_dt_web.jpg" />
	<img id="liv-ltr-cover-img" class="mb" src="/images/letters/embrace-your-inner-goddess/title_image_mb_web_2.jpg" />
	<div id="liv-ltr-offer-container">
		<h1>Embrace Your <i>Inner Goddess</i></h1>
		<h2 id="liv-ltr-usp">Get <i>Flawless, Acne Free Skin With</i>
			<br>
			Liv On <b><span style="color: #5a260f;">Chocolate</span> <span style="color: #c87137"> Cinnamon</span></b>
			<br>
			Plant Based
			<br>
			Protein Powder
		</h2>
		<h3 id="liv-ltr-prod-desc"><b>Taste Your 5 Serving Sample Pack Today!</b></h3>
		
		<div id="liv-ltr-cta-container">
			<p id="liv-ltr-cta-special">Black Friday Special!
				<br>
				10% Off + FREE Shipping
			</p>
			<button class="liv-ltr-btn-cta">Buy Sample Pack Now For Only $13.50</button>
			<h4 id="liv-ltr-scroll-msg"><i>Scroll To Learn More About How To Get Flawless Skin</i></h4>
		</div>
	</div>
	
	
</div>

<div class="liv-ltr-section">
	<h2 class="liv-ltr-section-hdr">Nothing Is More Frustrating Than Acne</h2>
	<div class="liv-ltr-content-container dt">
		<div class="liv-ltr-col-l">
			<p><b>There’s nothing more 
frustrating than living with 
adult acne, especially if you're
a woman.</b>
You try soap after soap, cream after 
cream. You’ve tried face masks and 
even cotton pads with special 
cleansers. Yet, those zits just won’t
 give up. And it’s the last thing you 
need to make you feel sexy and
 confident in this crazy 21st 
century dating world. Because 
let’s be honest: 
 online dating sucks.
Plenty of Fish? How about Plenty 
of Fakes. Tinder? How about 
1000s of messages from dudes 
all saying the same thing: Wanna 
f*ck tonight? Let’s not even get 
started with Coffee Meets Bagel. 
But you know what doesn’t suck? 
Having  your pick of men to go on 
dates with because your 
profile picture is smokin’ hot. 
The three days a week you spend at the gym have given you great </p>
		</div>

		<div class="liv-ltr-col-r">
			<img class="liv-ltr-content-img" src="/images/letters/embrace-your-inner-goddess/brunette_acne_web_sm.jpg"/>
			<p>
				 
abs, a booty that turns  
the heads of even your girlfriends’ 
boyfriends, and the toned, sexy arms 
you’ve always wanted. Perfection! 
<b>…Except for those zits.</b> And you 
know  well that when Mr. Right 
comes across your profile, the FIRST 
thing he’s going to notice is YOUR 
acne and swipe left, leaving you 
with all the guys who aren’t good 
enough for you :/. 
All your hard work at the gym 
down the drain… 
			</p>
		</div>
	</div>

<div class="liv-ltr-content-container mb">
	<img class="liv-ltr-content-img" src="/images/letters/embrace-your-inner-goddess/brunette_acne_web_sm.jpg"/>
	<p>
		<b>There’s nothing more 
frustrating than living with 
adult acne, especially if you're
a woman.</b>
You try soap after soap, cream after 
cream. You’ve tried face masks and 
even cotton pads with special 
cleansers. Yet, those zits just won’t
 give up. And it’s the last thing you 
need to make you feel sexy and
 confident in this crazy 21st 
century dating world. Because 
let’s be honest: 
 online dating sucks.
Plenty of Fish? How about Plenty 
of Fakes. Tinder? How about 
1000s of messages from dudes 
all saying the same thing: Wanna 
f*ck tonight? Let’s not even get 
started with Coffee Meets Bagel. 
But you know what doesn’t suck? 
Having  your pick of men to go on 
dates with because your 
profile picture is smokin’ hot. 
The three days a week you spend at the gym have given you great abs, a booty that turns  
the heads of even your girlfriends’ 
boyfriends, and the toned, sexy arms 
you’ve always wanted. Perfection! 
<b>…Except for those zits.</b> And you 
know  well that when Mr. Right 
comes across your profile, the FIRST 
thing he’s going to notice is YOUR 
acne and swipe left, leaving you 
with all the guys who aren’t good 
enough for you :/. 
All your hard work at the gym 
down the drain… 
	</p>

</div>
<hr class="liv-ltr-sct-break" />
</div>




<div class="liv-ltr-section">
	<h2 class="liv-ltr-section-hdr">Did You Know Dairy Causes Acne?</h2>
	<div class="liv-ltr-content-container dt">
		<div class="liv-ltr-col-l">
			<img class="liv-ltr-content-img" src="/images/letters/embrace-your-inner-goddess/brunette_question_web_sm.jpg"/>

			<p></p>
		</div>

		<div class="liv-ltr-col-r">
			
			<p><b>Have you ever wondered 
WHY you can’t get rid of your acne?</b>
Did you know 
that dairy causes 
acne? According to the <a href="https://www.ncbi.nlm.nih.gov/pubmed/15692464">Harvard Nurse's Health Study</a>, the hormones in cows’ milk 
can react with your body, increasing
production of a chemical named
sebum in your skin, that oily stuff 
that clogs your pores, which 
means …<b>BINGO:  acne.</b> Maybe you 
don’t drink milk, but have you 
thought about your protein 
shakes? If you’ve been using 
whey protein powder to get your 
sexy abs, <b>then this is your 
problem.</b> But now you’re in a 
bind. I mean, you can’t stop getting 
your protein or your abs will melt
 into fat. But that acne’s not 
helping you either. <b>What’s a 
gal to do?</b> I’m glad you asked. 
			</p>
		</div>
	</div>


<div class="liv-ltr-content-container mb">
	<img class="liv-ltr-content-img" src="/images/letters/embrace-your-inner-goddess/brunette_question_web_sm.jpg"/>

	<p><b>Have you ever wondered 
WHY you can’t get rid of your acne?</b>
Did you know 
that dairy causes 
acne? According to the <a href="https://www.ncbi.nlm.nih.gov/pubmed/15692464">Harvard Nurse's Health Study</a>, the hormones in cows’ milk 
can react with your body, increasing
production of a chemical named
sebum in your skin, that oily stuff 
that clogs your pores, which 
means …<b>BINGO:  acne.</b> Maybe you 
don’t drink milk, but have you 
thought about your protein 
shakes? If you’ve been using 
whey protein powder to get your 
sexy abs, <b>then this is your 
problem.</b> But now you’re in a 
bind. I mean, you can’t stop getting 
your protein or your abs will melt
 into fat. But that acne’s not 
helping you either. <b>What’s a 
gal to do?</b> I’m glad you asked. 

</div>
<hr class="liv-ltr-sct-break" />
</div>



<div class="liv-ltr-section">
	<h2 class="liv-ltr-section-hdr">The Answer To All Your Acne Troubles</h2>

	<div class="liv-ltr-content-container wide center">

		<h3 id="liv-ltr-prod-name">Liv On <b><span style="color: #5a260f;">Chocolate</span> 	<span style="color: #c87137"> Cinnamon</span></b>
			<br>
			<i><span style="color: #30d97c">Plant Based</span></i>
			<br>
			Protein Powder
		</h3>

		<img id="liv-ltr-prod-img" src="/images/letters/embrace-your-inner-goddess/image2_web.jpg" />
		<h3>Created For You By Vegetarian MIT Chemical Engineers</h3>

	</div>

	<div class="liv-ltr-content-container wide small">
		<h4 class="liv-ltr-font-md"><b>Every Serving Has</b></h4>
		<ul class="liv-ltr-font-sm">
			<li><b>No Dairy</b></li>
			<li>18 g of protein – from clean, USA grown, Non-GMO peas</li>
			<li>137 Calories (Great for Low-Calorie Meal Replacement)</li>
			<li>4 g Branched Chain Amino Acids (BCAAs)</li>
			<li>No Stevia</li>
			<li>No Aftertaste</li>
			<li>No Soy</li>
			<li>No Gluten</li>
			<li>24% Iron (Daily Value)</li>
			<li>7% Calcium (Daily Value)</li>
			<li>Over 400 Antioxidants from Real Cacao &amp; Fresh Ground Cinnamon To Keep You Looking, Feeling Young And Help Prevent Cancer*</li>
			
		</ul>
		<br>
		<br>
		<img id="" class="liv-ltr-content-img" src="/images/letters/embrace-your-inner-goddess/brunette_smoothie_web.jpg" />
		<h4 class="liv-ltr-font-md"><b>Every Serving Tastes &amp; <i>Feels</i></b></h4>
		<ul class="liv-ltr-font-sm">
			<li>Like Rich &amp; Creamy Chocolate Milk</li>
			<li>Refreshing</li>
			<li>Yummy</li>
			<li>Easy On Your Tummy (No Bloat)</li>
			<li>Filling</li>
			<li>Rewarding</li>
		</ul>
	</div>
<br>
<div class="liv-ltr-content-container dt">
	<div class="liv-ltr-col-l">
		
			<img id="" class="liv-ltr-content-img" src="/images/letters/embrace-your-inner-goddess/chocolate_smoothie_web.jpg" />
	</div>
	<div class="liv-ltr-col-r more-space">
		<h4 class="liv-ltr-font-md top"><b>Every Serving Is Easy To Use</b></h4>
		<p>
			<b>Pour</b> one packet of Liv On 
Chocolate Cinnamon protein powder
into a regular 8 oz tall glass of water or
your favorite Non-Dairy bevarage</p>

<p>
  <b>Stir</b> with a spoon
</p>

<p>
<b>Enjoy!</b> (No need to add fruit)
</p>

<p>
<i>Are you a smoothie girl? Feel free to add
one packet on Liv On Chocolate
Cinnamon protein powder to your
favorite breakfast smoothie</i>

</p>

<h3>
	<b>Drink</b> one Liv On protein shake
for breakfast every morning and 
another after your workouts
</h3>
	</div>
</div>

<div class="liv-ltr-content-container mb">

	<img id="" class="liv-ltr-content-img" src="/images/letters/embrace-your-inner-goddess/chocolate_smoothie_web.jpg" />

	<br>
	<br>

	<h4 class="liv-ltr-font-md top"><b>Every Serving Is Easy To Use</b></h4>
		<p>
			<b>Pour</b> one packet of Liv On 
Chocolate Cinnamon protein powder
into a regular 8 oz tall glass of water or
your favorite Non-Dairy bevarage</p>

<p>
  <b>Stir</b> with a spoon
</p>

<p>
<b>Enjoy!</b> (No need to add fruit)
</p>

<p>
<i>Are you a smoothie girl? Feel free to add
one packet on Liv On Chocolate
Cinnamon protein powder to your
favorite breakfast smoothie</i>

</p>

<h3>
	<b>Drink</b> one Liv On protein shake
for breakfast every morning and 
another after your workouts
</h3>


</div>
<button class="liv-ltr-btn-cta wide">Buy My Liv On Protien Powder Sample Pack Now For Only $13.50</button>
<hr class="liv-ltr-sct-break" />
</div>

<div class="liv-ltr-section">
	<h2 class="liv-ltr-section-hdr">Embrace <i>Your</i> *Inner Goddess*</h2>
	<h3 class="liv-ltr-section-sub-hdr">Clearer Skin After Your First Three Liv On Protein Shakes</h3>
	<div class="liv-ltr-content-container dt">
		<div class="liv-ltr-col-l">
			<p> 
				The morning after you've 
had your third Liv On 
protein shake, you'll  wake
 up to a more beautiful 
you. When you look into 
the mirror, you'll see 
clearer, softer-looking 
skin in your reflection. 
Your inner goddess will 
start showing herself 
to the world. </p>

 <br>
<h3><b>You'll feel:</b></h3>

     <h3><i>Lighter</i></h3>
   
     <h3><i>Happier</i></h3>

     <h3><i>Stronger</i></h3>

    <h3><i>More energized</i></h3>
  
    <h3><i>More confident</i></h3>
  
    <h3><i>More beautiful</i></h3>


	
		</div>

		<div class="liv-ltr-col-r">
			<img class="liv-ltr-content-img" src="/images/letters/embrace-your-inner-goddess/brunette_smiling_crop_web.jpg"/>
			<p>
				 


And in just a few short  weeks, your skin 
will be flawless. And you'll feel stronger
and sexier than ever.  The handsome guy 
you've had your eye on will begin to notice 
you. He'll pay attention when you're 
around. Getting him to ask you out on a date 
will be no issue.  You will become his 
Goddess of Love. And soon Mr. Right 
will be yours.  
			</p>
		</div>
	</div>

<div class="liv-ltr-content-container mb">
	<img class="liv-ltr-content-img" src="/images/letters/embrace-your-inner-goddess/brunette_smiling_crop_web.jpg"/>
			
<p> 
				The morning after you've 
had your third Liv On 
protein shake, you'll  wake
 up to a more beautiful 
you. When you look into 
the mirror, you'll see 
clearer, softer-looking 
skin in your reflection. 
Your inner goddess will 
start showing herself 
to the world. </p>

 <br>
<h3><b>You'll feel:</b></h3>

     <h3><i>Lighter</i></h3>
   
     <h3><i>Happier</i></h3>

     <h3><i>Stronger</i></h3>

    <h3><i>More energized</i></h3>
  
    <h3><i>More confident</i></h3>
  
    <h3><i>More beautiful</i></h3>

   <p> And in just a few short  weeks, your skin 
will be flawless. And you'll feel stronger
and sexier than ever.  The handsome guy 
you've had your eye on will begin to notice 
you. He'll pay attention when you're 
around. Getting him to ask you out on a date 
will be no issue.  You will become his 
Goddess of Love. And soon Mr. Right 
will be yours.  </p>



</div>
<hr class="liv-ltr-sct-break" />
</div>

<div class="liv-ltr-section">
	<h2 class="liv-ltr-section-hdr">See What Others Have To Say</h2>

	<div class="liv-ltr-content-container wide more-space">
		<p>
			<b>Elena R.</b> –  "I tried one after my workout and it was very good :) 
And I did give one to my trainer. Let's see what he thinks! I've been 
struggling to finish a tub of Vega One Vanilla protein powder that 
I have since March because I don't like the stevia taste and it's a 
bit chalky, but I could definitively have LivOn everyday, so I want to order 
a bigger container." 

		</p>

		<p>
			<b>Melanie B.</b> –  "I have tried the samples and am definitely enjoying them, 
especially with my morning workouts. I have mainly mixed the samples 
with water, and have made overnight oats using them as well. Overall 
I enjoy the flavor; I like the cinnamon twist opposed to a plain chocolate, 
and it is definitely one I would continue using. I am enjoying the product 
and would love to continue and have the additional servings of the 
remainder of the container. It has become a part of my morning routine!"

		</p>

		<p>
			<b>Amanda A.</b> –  "I found many positive attributes to Liv On Chocolate Cinnamon 
protein powder. I was very impressed by the fact that it contains 18 grams of 
plant based protein. I also love the fact that it is non-GMO, dairy free,  
soy free, gluten free, vegan and hypoallergenic. I was also impressed that 
it contains organic agave which I had never seen in any protein powder that 
I have used previously. I really enjoyed the chocolate cinnamon flavor, I would 
have never considered putting these two flavors together but it was very good!" 

</p>
	</div>

<hr class="liv-ltr-sct-break" />

</div>

<div class="liv-ltr-section">
	<h2 class="liv-ltr-section-hdr">SPECIAL BLACK FRIDAY OFFER</h2>
	<h3 class="liv-ltr-section-sub-hdr liv-green">10% Off + FREE Shipping</h3>
	<h3 class="liv-ltr-section-sub-hdr">Taste Your 5 Serving Sample Pack Of Liv On TODAY!</h3>
	<br>
	<br>
	<div class="liv-ltr-content-container wide">
		<p>For <b>Black Friday</b> we are giving you a <b>Special Offer:</b>
			<br>
			<br>
			<b><big>10% Off + FREE Shipping to the <u>first 250 people who order</u></big></b>
			<br>
			<br>
			We only have enough ingredients remaining for sample packs 
for 250 people. <b>Our message has reached more than 5000 women 
who are ready to embrace their inner goddess and 
orders are coming in fast!</b> Will you be one of the lucky few to taste
 the deliciousness of Liv On Chocolate Cinnamon Plant Based 
Protein Powder and Embrace Your Inner Goddess or will you hesitate
and forever miss your chance? Order NOW (while you still can!) 
</p>
	</div>

<button class="liv-ltr-btn-cta wide">Buy My Liv On Protien Powder Sample Pack Now For Only $13.50</button>

<hr class="liv-ltr-sct-break" />

</div>


<div id="liv-ltr-modal-overlay" class="liv-gone">


</div>

<div id="liv-ltr-pay-option" class="liv-gone">
		<h2>Pay With</h2>
		<a class="liv-ltr-btn-pay-opt" href="/checkout/liv-on-choc-cinn-sample-pack?promo=true&promoId=8h20k#creditcard">Credit Card</a>
		<a class="liv-ltr-btn-pay-opt" href="/checkout/liv-on-choc-cinn-sample-pack?promo=true&promoId=8h20k#paypal">Paypal</a>
		<a id="liv-ltr-btn-modal-close" href="#">Close</a>

	</div>

