
<div id="liv-usp-container">
	<div>
		<img class="liv-img-left" src="/images/smoothie_pink.jpg" />
		<img class="liv-img-right" src="/images/berries.jpg" />
	</div>

	<p id="liv-usp" class="liv-overlay-text">
		Energy Packed Plant Based Protein That Blends Flawlessly In Your Smoothie – Or It's Free
	</p>

	<a id="liv-btn-shop-1" class="liv-btn-shop-now" href="/products">Shop Now</a>
</div>

<div id="liv-content-container-families" class="liv-content-container">
	<h2 class="liv-overlay-text liv-content-heading mid">We Care About People</h2>

	<div>
		<img class="liv-img-left" src="/images/cancer_patient_1.jpg" />
		<img class="liv-img-right" src="/images/cancer_patient_2.jpg" />
	</div>

	<p id="liv-content-families" class="liv-overlay-text liv-content">
		A Portion of Our Proceeds is Donated to the Treatment of Families Battling Cancer
	</p>

</div>

<div id="liv-content-container-against" class="liv-content-container">
	<h2 class="liv-overlay-text liv-content-heading left">We Stand Against</h2>

	<div>
		<img class="liv-img-full" src="/images/kale.jpg" />
	</div>

	<p id="liv-content-against" class="liv-overlay-text liv-content">
		X Processed Foods
		<br>
		X Growth Hormones
		<br>
		X Food Additives
		<br>
		X Carcinogens
	</p>

</div>

<div id="liv-content-container-clean-eating" class="liv-content-container extended">
	<h2 class="liv-overlay-text liv-content-heading left">We Mean Clean Eating</h2>

	<div>
		<img class="liv-img-full" src="/images/soup.jpg" />
	</div>

	<p id="liv-content-clean-eating" class="liv-overlay-text liv-content">
		Plant Based
		<br>
		NON GMO
		<br>
		Organic
		<br>
		Dairy Free
		<br>
		Gluten Free
		<br>
		Soy Free
		<br>
		Vegan
		<br>
		Nutrition Full
	</p>

	<p id="liv-content-usp-2" class="liv-overlay-text liv-content">
		More Energy &amp; Better Health to do More of What You Love to Do – Today, Tomorrow &amp; for Years to Come
	</p>

	<a id="liv-btn-shop-2" class="liv-btn-shop-now" href="/products">Shop Now</a>

</div>