<div class="liv-content-container short">
	<h2 class="liv-overlay-text liv-content-heading left">Shopping Cart</h2>
</div>

<div id="liv-empty-cart" class="liv-content-container liv-gone">
	  <div id="liv-empty-cart-content">
			<h3 id="liv-text-empty-cart">Looks like your cart is empty. Feel free to shop around.</h3>
			
			<a id="liv-btn-shop-cart" class="liv-btn-shop-now" href="/products">Shop Now</a>
	  </div>
	
</div>

  <div id="liv-cart-container">
	  	<table id="liv-cart" >
	  		<thead>
	  			<tr>
	  				<th>Item</th>
	  				<th></th>
	  				<th>Flavor</th>
	  				<th>Size</th>
	  				<th>Price</th>
	  				<th>Quantity</th>
	  				<th>Subtotal</th>
	  				<th></th>
	  			</tr>
	  		</thead>
	  		<tbody>
	  			<!--<tr>
	  				<td><img class="liv-cart-img" src="/images/liv_on_go.png" />
	  				</td>
	  				<td class="name">
	  					<p>Liv On GO</p>
  					</td>
  					<td>
  						<p>1kg (25 Servings | 32.5 oz)</p>
  					</td>
  					<td>
  						<p>$59.99</p>
  					</td>
  					<td class="center">
  						<input class="liv-prod-qty" type="number" min="1" value="1" />
  						<button class="liv-btn-prod-update">Update</button>
  					</td>
  					<td>
  						<p>$59.99</p>
  					</td>
  					<td>
  						<div class="liv-x">&#9587;</div>
  					</td>

	  			</tr>-->
	  		</tbody>
	  		<tfoot>
	  			<tr>
	  				<td></td>
	  				<td></td>
	  				<td></td>
	  				<td></td>
	  				<td></td>
	  				<td><span class="liv-sum-text">Total</span></td>
	  				<td><span id="liv-cart-total" class="liv-sum-text liv-cart-total">$99.99</span></td>
	  			</tr>
	  			<tr>
	  				<td></td>
	  				<td></td>
	  				<td></td>
	  				<td></td>
	  				<td></td>
	  				<td class="liv-rel"><button id="liv-btn-checkout-dt" class="liv-btn-checkout disabled">Check Out</button></td>
	  				<td></td>
	  			</tr>
	  		</tfoot>
	  	</table>
	  	<!--<button id="liv-btn-checkout">Check Out</button>-->
	  	<!--<div id="liv-cart-total-container">
	  		<span class="liv-sum-text">Total</span>
	  		<span class="liv-sum-text" id="liv-cart-total">$99.99</span>
	  		<button>Check Out</button>
	  	</div>-->
	  </div>

	  <div id="liv-cart-container-mb">

	  	<div id="liv-cart-mb">

	  	<!--<div class="liv-cart-item-mb">

	  		<div class="liv-cart-item-mb-top-section">
	  			<div class="liv-cart-item-mb-top-content">
	  				<h3 class="liv-cart-item-mb-name">Liv On Go</h3>
	  				<h4 class="liv-cart-item-mb-flvr">Natural (Unflavored)</h4>
	  				<h4 class="liv-cart-item-mb-size">1kg (25 Servings | 32.5 oz)</h4>
	  			</div>
	  			<div class="liv-x liv-x-mb right">&#9587;</div>
	  		</div>
	  		<div class="liv-car-item-mb-btm-section">
	  			<div class="liv-cart-item-mb-left-content">
	  				<img class="liv-cart-item-mb-img liv-cart-img" src="/images/liv_on_go.png" />
	  			</div>
	  			<div class="liv-cart-item-mb-right-content">
	  			<h4 class="liv-cart-item-mb-flvr">$59.99</h4>
	  			<h4 class="liv-cart-item-mb-size">Quantity</h4>
	  			<input class="liv-cart-item-mb-qty" type="number" min="1" value="1" />
	  			<button class="liv-btn-cart-item-mb-update">Update</button>
	  			</div>
	  		</div>
	  		<p class="liv-out-of-stock yes">
	  			Sorry, this item is already out of stock. Please check back
	  			in a few weeks and bear with us while we make more!
	  		</p>
	  		<hr>
	  	</div>

	  	<div class="liv-cart-item-mb">

	  		<div class="liv-cart-item-mb-top-section">
	  			<div class="liv-cart-item-mb-top-content">
	  				<h3 class="liv-cart-item-mb-name">Liv On Go</h3>
	  				<h4 class="liv-cart-item-mb-flvr">Natural (Unflavored)</h4>
	  				<h4 class="liv-cart-item-mb-size">1kg (25 Servings | 32.5 oz)</h4>
	  			</div>
	  			<div class="liv-x liv-x-mb right">&#9587;</div>
	  		</div>
	  		<div class="liv-cart-item-mb-btm-section">
	  			<div class="liv-cart-item-mb-left-content">
	  				<img class="liv-cart-item-mb-img liv-cart-img" src="/images/liv_on_go.png" />
	  			</div>
	  			<div class="liv-cart-item-mb-right-content">
	  			<h4 class="liv-cart-item-mb-price">$59.99</h4>
	  			<h4>Quantity</h4>
	  			<input class="liv-cart-item-mb-qty" type="number" min="1" value="1" />
	  			<button class="liv-btn-cart-item-mb-update">Update</button>
	  			</div>
	  		</div>
	  		<p class="liv-out-of-stock yes">
	  			Sorry, this item is already out of stock. Please check back
	  			in a few weeks and bear with us while we make more!
	  		</p>
	  		<hr>
	  	</div>-->

	  	</div>
	  		<div id="liv-checkout-container-mb">
			  	<div>
			  				<span class="liv-sum-text">Total</span>
			  				<span class="liv-sum-text liv-cart-total liv-cart-total-mb">$99.99</span>
			  	</div>
			  	<div>
			  			<button id="liv-btn-checkout-mb" class="liv-btn-checkout disabled">Check Out</button>
			  	</div>
			  </div>

	  </div>

