/* Liv On application CSS file */

/******* Body ********/

body {
	font-family: lato;
}

.liv-hidden {
	visibility: hidden;
}

.liv-gone {
	display: none !important;
}

/******* End Body ********/

/******* Site Navigation Menu ********/

#liv-nav-container {
	height: 110px;
	width: 100%;
	background-color: #30d97c;
	position: relative;
}

#liv-logo {
	/*background: url('../images/liv_on_logo.png');*/
	position: relative;
	top: 20px;
	left: 20px;
}

#liv-logo-img {
	height: 100px;
}

#liv-nav {
	/*display: inline-block;*/
	float: right;
    position: relative;
    top: 50px;
	
}

#liv-nav ul {
	position: relative;
	margin-right: 100px;
}

#liv-nav li {
	float: left;
	margin-right: 75px;
	list-style: none;
}

#liv-nav li a {
	color: #ffffff;
	font-size: 18px;
}

#liv-nav li a:hover {
	text-decoration: none;
	/*color: #0fe66f;*/
	color: #777777;
}

.liv-cart {
	width: 32px;
}

a.liv-cart-logo:hover {
	text-decoration: none;
}

.liv-cart-count {
	font-size: 16px;
	color: #ffffff;
}

.liv-cart-count:hover {
	color: #777777;
}


/******** End Site Navigation Menu ********/


/******** USP Section *******/

#liv-usp-container {
	position: relative;
	width: 100%;
	height: 425px;
    overflow-y: hidden;
}

/******* End USP Section *******/

/******* Banner Images *******/

.liv-img-left {
	width: 50%;
	display: inline-block;
	float: left;
}

.liv-img-right {
	width: 50%;
	display: inline-block;
}

.liv-img-full {
	width: 100%;
}

.liv-overlay-text {
	color: #ffffff;
	background-color: rgba(26, 26, 26, 0.60);
	position: absolute;
	top: 0;
	padding: 10px;
}

#liv-usp {
	font-weight: bold;
	font-size: 28px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -70%);
	margin-bottom: 20px;
}

.liv-btn-shop-now {
	text-decoration: none;
	color: #ffffff;
	background-color: #30d97c;
	width: 200px;
	height: 60px;
	line-height: 1;
	padding: 20px;
	text-align: center;
	font-size: 20px;
	display: block;
	position: absolute;
}

.liv-btn-shop-now:hover {
	text-decoration: none;
	color: #ffffff;
	background-color: #0fe66f;
}

#liv-btn-shop-1, #liv-btn-shop-2 {
	left: 50%;
	transform: translate(-50%, 0);
	bottom: 100px;

}

#liv-img-our-story {
	position: relative;
	top: -250px;
}

/******* End Banner Images *******/

/******* Content Conntainers ******/

.liv-content-container {
	position: relative;
	height: 425px;
	overflow-y: hidden;
	width: 100%;
}

.liv-content-container.extended {
	height: 700px;
}

.liv-content-container.short {
	height: 50px;
}

.liv-content {

}

#liv-content-families {
	top: 300px;
	margin-left: 30px;
    font-size: 24px;
    padding: 10px;
    width: 500px;
}

#liv-content-against, #liv-content-clean-eating {
	margin-left: 30px;
	font-size: 20px;
	top: 100px;
	width: 230px;
	padding: 20px;
}

#liv-content-clean-eating {
	width: 200px;
}

#liv-content-usp-2 {
	width: 100%;
	text-align: center;
	top: 400px;
	height: 100px;
	font-size: 32px;
	padding: 0 250px;
}

.liv-content-heading {
	width: 100%;
	margin-top: 0;
	z-index: 1;
}

.liv-content-heading.left {
	padding-left: 20px;
}

.liv-content-heading.mid {
	text-align: center;
}

#liv-content-container-our-story {
	background-image: url('../images/strawberry.jpg');
	background-size: 100%;
    background-position-y: 50%;
}

#liv-content-our-story {
	width: 80%;
	font-size: 18px;
	position: relative;
	margin: 0 auto;
	margin-top: 30px;
	text-align: center;
}

.liv-text-coming-soon {
	 margin-top: 100px;
     margin-left: 20px;
     font-size: 20px;
}

#liv-contact-us {
	margin-left: 20px;
}

/******** End Content Containers ********/

/******** Footer ********/

#liv-footer {
	width: 100%;
	height: 100px;
	position: relative;
}

#liv-footer-copyright, #liv-footer-content {
	position: relative;
	top: 25px;
	margin-left: 20px;
}

/******* End Footer ********/


/******* Products *********/

#liv-img-fruit {
	background-image: url('../images/fruit.jpg');
	height: 425px;
	background-size: 100%;
	background-position: 0% 25%;
}

#liv-content-products {
	top: 100px;
	font-size: 28px;
	margin-left: 20px;
	width: 600px;
}

/*update*/
.liv-products-container {
	margin-top: 30px;
	margin-bottom: 100px;
	position: relative;
	width: 710px;
    margin-left: auto;
    margin-right: auto;
}

.liv-product {
	margin-left: 50px;
	margin-right: 50px;
	position: relative;
	width: 250px;
	display: inline-block;
}

/*.liv-product.left {
	margin-right: 50px;
}

.liv-product.right {
	margin-left: 50px;
}*/

.liv-product p {
	font-size: 20px;
}

.liv-product .liv-prod-title {
	font-size: 28px;
}

.liv-product .liv-lbl-new {
    position: relative;
    top: 30px;
    background-color: #30d97c;
    width: 50px;
    text-align: center;
    color: #ffffff;
    font-size: 18px;
}

.liv-lbl-new-2 {
	background-color: #30d97c;
    width: 60px;
    text-align: center;
    padding: 2px;
    color: #ffffff;
    font-size: 16px;
    position: absolute;
    bottom: 0;
    margin-bottom: 0;
}

.liv-img-prod {
	height: 300px;
}

.liv-btn {
	background-color: #30d97c;
    height: 40px;
    width: 250px;
    padding: 10px;
    border-radius: 5px;
    color: #ffffff;
    display: block;
    text-align: center;
    font-size: 20px;
    line-height: 1;
    margin-bottom: 20px;
}

.liv-btn:hover {
	text-decoration: none;
	color: #ffffff;
	background-color: #0fe66f;
}

.liv-btn.learn-more {
	background-image: url('../images/liv_on_info_icon.png');
	background-repeat: no-repeat;
	background-size: 32px 32px;
	background-position: 10% 50%;
}

.liv-btn.cart-add {
	pointer-events: none;
	background-image: url('../images/liv_on_cart.png');
	background-repeat: no-repeat;
	background-size: 32px 32px;
	background-position: 10% 50%;
}


/******* End Products ********/


/******* Product Details ********/

#liv-product-container {
	margin-left: 20px;
	margin-top: 20px;
	position: relative;
	display: flex;
}

#liv-prod-img-container {
	position: relative;
	height: auto;
	width: 500px;
	border: 1px solid #777777;
	margin-left: 100px;
	overflow: hidden;
}

#liv-img-prod-details {
	height: 500px;
	display: block;
	margin: 0 auto;
}

#liv-prod-img-section {
	display: inline-block;
}

#liv-prod-cats {
	margin-top: 10px;
	margin-left: 100px;
}

.liv-prod-cat {
	position: relative;
	vertical-align: top;
	margin-left: 15px;
	margin-right: 15px;
}

#liv-prod-select-section {
	margin-left: 50px;
	display: inline-block;
	width: 400px;
	margin-left: 5%;
}

#liv-prod-name {
	font-weight: bold;
	color: #30d97c;
}

.liv-flvr-container {
	display: inline-block;
}

#liv-flvr {
	margin-top: 30px;
	color: #30d97c;
}

/*#liv-size {
	color: #30d97c;
}*/

#liv-size-select {
	background-color: #ffffff;
    height: 40px;
    width: 200px;
    border-radius: 0px;
}

#liv-price {
	margin-top: 30px;
}

input[name="flavor"] {
	margin-right: 5px;
}

.liv-flvr-lbl {
	margin-right: 20px;
	font-size: 18px;
}

#liv-cart-submit {
	background-color: #30d97c;
    border: none;
    height: 60px;
    width: 400px;
    color: #ffffff;
    font-size: 24px;
}

#liv-cart-submit:hover {
	background-color: #0fe66f;
}

.liv-heart-container {
	display: flex;
	align-items: center;
}


/*.liv-heart:before {
	content: '\2665';
	color: #ff0000;
	font-size: 32px;
}*/

.liv-heart {
	/*float: left;*/
	color: #ff0000;
	font-size: 32px;
}

.liv-heart-text {
	display: inline-block;
	width: 320px;
    /*margin-right: 20px;*/
}


.liv-prod-details-container {
	width: 800px;
	margin-left: 120px;
	position: relative;
	margin-bottom: 30px;
}

.liv-prod-details-container.split {
	display: flex;
}

.liv-prod-details-container p {
	font-size: 16px;
}

.liv-prod-details-left, .liv-prod-details-right {
	width: 400px;
}

.liv-green {
	color: #30d97c;
}


#liv-prod-benefits {
	background-color: #30d97c;
	color: #ffffff;
	padding: 20px;
	font-size: 20px;
	border: 1px solid #777777;
	width: 300px;
	float: right;
}

#liv-ingredients {
	margin: 30px auto;
}

#liv-food-label {
	width: 300px;
	float: right;
	margin-top: 20px;
}

.liv-sub-heading {
	margin-top: 5px;
}

.liv-prod-hr {
	width: 800px;
	right: 120px;
    position: relative;
}

/******* End Product Details *******/

/******* Shopping Cart *********/

#liv-text-empty-cart {
	margin-left: 20px;
}

#liv-btn-shop-cart {
	margin-left: 20px;
	margin-top: 5px;
	position: relative;
}

#liv-empty-cart-content {
	/*display: none;*/
}

#liv-cart {
	margin-left: 18px;
	margin-top: 20px;
	margin-bottom: 50px;
}

#liv-cart tbody {
	border-bottom: 1px solid #777777;
}

#liv-cart th {
	font-size: 20px;
	padding: 20px;
	padding-bottom: 10px;
}

#liv-cart tr {
	/*border-bottom: 1px solid #777777;*/
}

#liv-cart td {
	padding: 20px;
	font-size: 18px;
}

#liv-cart td.name {
	font-size: 20px;
}

#liv-cart td.center {
	text-align: center;
}

.liv-cart-img {
	width: 100px;
}

.liv-prod-qty {
	width: 50px;
}

.liv-btn-prod-update {
	display: block;
	background-color: #30d97c;
	border: none;
	color: #ffffff;
	padding: 2px 10px;
	margin: 0 auto;
	margin-top: 10px;

}

.liv-btn-prod-update:hover {
	background-color: #0fe66f;

}

.liv-x:hover {
	cursor: pointer;
	text-decoration: none;
}

#liv-cart-total-container {
	float: right;
	margin-top: 10px;
	margin-bottom: 30px;
}

.liv-sum-text {
	font-weight: bold;
	font-size: 20px;
}

.liv-rel {
	position: relative;
}

#liv-btn-checkout-dt {
	
    border: none;
    height: 60px;
    width: 200%;
    color: #ffffff;
    font-size: 24px;
    position: absolute;
}

.liv-btn-checkout {
	background-color: #30d97c;
}

.liv-btn-checkout:hover {
	background-color: #0fe66f;
}

.liv-btn-checkout.disabled {
	background-color: #bababa;	
}

.liv-in-stock {
	color: #ff0000;
	display: none;
}

.liv-in-stock.no {
	display: block;
}




/******* End Shopping Cart *********/

/******* Checkout - one page *********/

#liv-other-imgs-container {
	margin-left: 100px;
	margin-top: 20px;
}

.liv-img-extra {
	width: 100px;
	margin-right: 30px;
}

.liv-lightbox-img:hover {
	text-decoration: none;
}

#liv-prod-desc-list li {
	font-size: 24px;
}

#liv-qty {
	width: 50px;
}

#liv-promo-input {
	padding: 5px;
	width: 200px;
}

#liv-btn-add-promotion {
	background-color: #30d97c;
    border: none;
    padding: 5px 10px;
    color: #ffffff;
}

#liv-btn-add-promotion:hover {
	background-color: #0fe66f;
}

#liv-promo-success {
	color: #30d97c;
}

.liv-error {
	color: #ff0000;
}

#liv-subtotals-container {
	position: relative;
}

.liv-subtotals {
	display: inline-block;
}

span.liv-subtotals {
	font-size: 20px;
}

#liv-subtotals-container {
	width: 75%;
	margin-bottom: 20px;
}


.liv-subtotals.right {
	float: right;
}

#liv-promo-price {
	margin-top: 30px;
	color: #30d97c;
}

#liv-price.promo {
	text-decoration: line-through;
}

#liv-img-prod-details.full-height {
	/*height: auto;*/ /*Commented out for new prod imgs */
}

#liv-btn-checkout {
	background-color: #30d97c;
    border: none;
    height: 60px;
    width: 100%;
    color: #ffffff;
    font-size: 24px;
}

#liv-btn-checkout-exp {
	background-color: #30d97c;
    border: none;
    height: 60px;
    width: 100%;
    color: #ffffff;
    font-size: 24px;
}

#liv-btn-checkout:hover, #liv-btn-checkout-exp:hover {
	background-color: #0fe66f;
}

#liv-paypal-container {
	text-align: center;
	margin-top: 10px;
}

#liv-img-processing {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	height: 128px;
}

#liv-order-confirmation {
	margin-left: 20px;
	margin-top: 70px;
}






/******* End Checkout - one page *********/

/******* Recipes **********/

#liv-recipe-container {
	margin-left: 50px;
}

#liv-recipe-categories {
	color: #30d97c;
	font-size: 28px;
}

#liv-recipe-info-container {
	display: flex;
}

#liv-hash-tags {
	color: #30d97c;
}

.liv-page-break {
	width: 900px;
	left: 0;
	position: relative;
}

.liv-bold {
	font-weight: bold;
}

#liv-recipe-info-container {
	margin-top: 5px;
}

.liv-recipe-info {
	display: inline-block;
}

#liv-recipe-directions-container {
	display: flex;
}

.liv-recipe-info ul {
	width: 300px;
}

.liv-recipe-info li {
	font-size: 18px;
}

.liv-recipe-info.right {
	margin-left: 100px;
}

.liv-cook-info {
	margin-bottom: 5px;
	margin-top: 5px;
}

#liv-signup-container {
	position: relative;
}

.liv-signup-btn {
	
	left: 20px;
	
	height: 60px;
	width: 600px;
	border: none;
	font-size: 28px;
}

#liv-signup-btn-1 {
	position: absolute;
	bottom: 20px;
}

#liv-story-container {
	margin-top: 50px;
	position: relative;
}

#liv-story {
	white-space: pre-wrap;
	width: 900px;
	font-size: 18px;
}

#liv-story:after {
	content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100px;
    background: hsla(0,0%,100%,.2);
    background: linear-gradient(180deg,hsla(0,0%,100%,0) 10%,#fff);
}

#liv-signup-text {
	/*opacity: 0.6;*/
}

.liv-modal {
	overflow: hidden;
}

#liv-modal-signup-bg {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: #0b0b0b;
	opacity: 0.8;
	z-index: 10;

}

#liv-signup {
	height: 80%;
	width: 50%;
	position: fixed;
	margin: 0 auto;
	background-color: #f9f9f9;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	z-index: 11;
	text-align: center;
	overflow: hidden;
}

.liv-signup-txt {
	display: block;
	height: 60px;
	width: 600px;
	position: relative;
	margin: 40px auto;
	padding: 10px;

}

#liv-signup-submit {
	position: relative;
	margin: 0 auto;
	margin-top: 20px;
	height: 75px;
	width: 600px;
	border: none;
	font-size: 28px;
}

.liv-signup-cancel {
	text-decoration: underline;
	display: block;
	margin-top: 20px;
}

#liv-signup-wrap-1 {
	position: relative;
}

#liv-signup-wrap-2 {
	margin-top: 100px;
	position: relative;
}




/******* Mobile Components *********/

#liv-hamburger {
	background: transparent;
	border: none;
	color: #ffffff;
	font-size: 24px;
	margin-left: 20px;
	padding: 5px;
	vertical-align: middle;
	transition: all 300ms ease;
	float: left;
	position: relative;
	top: 20px;
}

#liv-hamburger.open {
	transform: rotate(90deg);
}

#liv-hamburger:focus {
	outline: none;
}

#liv-logo-mb {
	/*background: url('../images/liv_on_logo.png');*/
	position: relative;
	top: 20px;
	left: 20px;
}

#liv-ltr-logo-mb {
	/*background: url('../images/liv_on_logo.png');*/
	position: relative;
}

#liv-logo-img-mb {
	height: 100px;
}

#liv-cart-logo-mb {
	float: right;
	position: relative;
	top: 30px;
	margin-right: 40px;
}

#liv-nav-mb {
	border: 1px solid #ffffff;
	border-left: none;
	visibility: hidden;
	background-color: #30d97c;
	position: absolute;
	bottom: -250px;
	left: 0;
	height: 250px;
	width: 250px;
	z-index: 2;


}

#liv-nav-mb.open {
	visibility: visible;
}

#liv-nav-mb ul {
	padding: 0 20px;

    /*list-style: none;*/
    text-align: left;
}

#liv-nav-mb li {
	display: block;
	padding: 10px 0;
	font-size: 18px;
	border-bottom: 1px solid #ffffff;
}

#liv-nav-mb a {
	color: #ffffff;
	display: inline-block;
	width: 100%;
}

#liv-nav-mb a:hover {
	text-decoration: none;
}

.liv-mb {
	display: none;
}

.liv-dt {
	display: inline-block;
}


.liv-prod-details-hdr {
	height: 50px;
	width: 100%;
	background-color: #30d97c;
	line-height: 50px;
	padding: 0 20px;
}

.liv-prod-details-hdr:hover, .liv-arrow:hover {
	cursor: pointer;
}

.liv-prod-details-hdr-title {
	color: #ffffff;
	font-size: 24px;
}

.liv-arrow {
	border-right: 3px solid #ffffff;
	border-bottom: 3px solid #ffffff;
	height: 24px;
	width: 24px;
	transform: rotate(45deg);
	display: inline-block;
	float: right;
	position: relative;
	top: 5px;
}

.liv-arrow.up {
	transform: rotate(-135deg);
	top: 15px;
}

#liv-prod-details-wrapper-mb {
		display: none;
		margin-top: 40px;
}

.liv-prod-details-container-mb {
	width: 90%;
	position: relative;
	margin-left: 20px;
	margin-top: 10px;
	overflow: hidden;
	height: 50px;
}

.liv-prod-details-container-mb.expanded {
	height: auto;
}

.liv-prod-details-content {
	padding: 0 10px;
}

.liv-prod-details-content p {
	font-size: 16px;
}

#liv-prod-benefits-mb {
	background-color: #30d97c;
	color: #ffffff;
	padding: 20px;
	font-size: 20px;
	border: 1px solid #777777;
	width: 300px;
}

#liv-food-label-mb {
	width: 300px;
	margin-top: 20px;
}

.liv-cart-item-mb {
	width: 75%;
	margin: 0 auto;
	margin-top: 20px;

}

.liv-car-item-mb-btm-section {
	display: flex;
}

.liv-cart-item-mb-qty {
	width: 50px;
}


.liv-cart-item-mb-top-content, .liv-cart-item-mb-right-content,
.liv-cart-item-mb-left-content {
	display: inline-block;
}

.liv-cart-item-mb-right-content {
	margin-left: 20px;
}

.liv-cart-item-mb-name {
	margin-top: 0;
}

.liv-x-mb.right {
	float: right;
}

.liv-x-mb {
	font-size: 20px;
	cursor: pointer;
}

.liv-btn-cart-item-mb-update {
	background-color: #30d97c;
	border: none;
	color: #ffffff;
	padding: 4px 20px;
	/*margin: 0 auto;*/
	margin-left: 5px;
	margin-top: 10px;
}

#liv-cart-container-mb {
	display: none;
}

#liv-checkout-container-mb {
	width: 75%;
	margin: 0 auto;
}

.liv-cart-total-mb {
	float: right;
}

#liv-btn-checkout-mb {
    border: none;
    height: 60px;
    width: 100%;
    color: #ffffff;
    font-size: 24px;
    margin-top: 10px;
}

/******* End Mobile Components *******/

/******** Mobile Responsive Design ********/
@media screen and (max-width: 1440px) {
	#liv-usp-container, .liv-content-container {
		height: 400px;
	}

	#liv-content-families {
	    top: 230px;
	    width: 600px;
	    font-size: 20px;
	}

	#liv-btn-shop-1 {
		bottom: 75px;
	}

	#liv-content-families {
	    top: 300px;
	    width: 750px;
	    font-size: 20px;
	}

	#liv-content-usp-2 {
	    font-size: 28px;
	    padding: 0 150px;
	}	
}


@media screen and (max-width: 1200px) {
	
	#liv-nav ul {
		margin-right: 35px;
	}

	#liv-nav li {
		margin-right: 40px;
	}

	#liv-usp-container, .liv-content-container {
		height: 325px;
	}

	#liv-usp {
		width: 600px;
		font-size: 24px;
	}

	#liv-btn-shop-1 {
		bottom: 25px;
	}

	#liv-content-families {
	    top: 235px;
	    width: 600px;
	    font-size: 20px;
	}

	#liv-content-container-clean-eating {
		background: url(/images/soup.jpg);
    	background-position: 50% 50%;
    	background-repeat: no-repeat;
    	background-size: 150%;
	}

	#liv-content-container-clean-eating img {
		display: none;
	}


	#liv-content-against, #liv-content-clean-eating {
	    top: 75px;
	}

	#liv-content-usp-2 {
	    font-size: 24px;
	    padding: 0 150px;
	}	


	#liv-prod-img-container {
	   margin-left: 0;
	}

	/*#liv-prod-select-section {
	     margin-left: 0; 
	}*/

	.liv-prod-details-container {
	    width: 90%;
	    margin-left: 20px;
	}

	.liv-prod-hr {
	    width: 90%;
	    margin-left: 20px;
	    right: 0;
	}

	#liv-prod-cats, #liv-other-imgs-container {
	   margin-left: 0;
	}
}



@media screen and (max-width: 1024px) {
	
	#liv-nav ul {
		margin-right: 35px;
	}

	#liv-nav li {
		margin-right: 40px;
	}

	#liv-usp-container, .liv-content-container {
		height: 300px;
	}

	#liv-usp {
		width: 600px;
		font-size: 24px;
	}

	#liv-btn-shop-1 {
		bottom: 25px;
	}

	#liv-content-families {
	    top: 200px;
	    width: 525px;
	    font-size: 20px;
	}

	#liv-content-container-clean-eating {
		background: url(/images/soup.jpg);
    	background-position: 50% 50%;
    	background-repeat: no-repeat;
    	background-size: 150%;
	}

	#liv-content-container-clean-eating img {
		display: none;
	}


	#liv-content-against, #liv-content-clean-eating {
	    top: 75px;
	}

	#liv-content-usp-2 {
	    font-size: 24px;
	    padding: 0 75px;
	}	


	/***** Product Details ******/

	#liv-prod-img-container {
    position: relative;
    height: auto;
    width: 400px;
    border: 1px solid #777777;
    margin-left: 0px;
}

	#liv-img-prod-details {
	    height: 400px;

	}

	#liv-prod-select-section {
	    /*width: 300px;*/
	    width: 45%;
	}

	#liv-cart-submit {
		width: 250px;
	}

	#liv-prod-img-section {
    	width: 50%;
	}

	.liv-flvr-container {
		display: block;
	}


	/******** End Product Details ********/
}

@media screen and (max-width: 900px) {
	

	#liv-usp-container, .liv-content-container {
		height: 266px;
	}

	#liv-usp {
		width: 600px;
		font-size: 24px;
	}

	#liv-btn-shop-1 {
		bottom: 25px;
	}

	#liv-content-families {
	    top: 175px;
	    width: 450px;
	    font-size: 20px;
	}

	#liv-content-container-clean-eating {
		background: url(/images/soup.jpg);
    	background-position: 50% 50%;
    	background-repeat: no-repeat;
    	background-size: 150%;
	}

	#liv-content-container-clean-eating img {
		display: none;
	}


	#liv-content-against, #liv-content-clean-eating {
	    top: 75px;
	}

	#liv-content-usp-2 {
	    font-size: 24px;
	    padding: 0 50px;
	}	

}

@media screen and (max-width: 800px) {
	

	#liv-usp-container, .liv-content-container {
		height: 250px;
	}

	#liv-usp {
		width: 600px;
		font-size: 24px;
	}

	#liv-btn-shop-1 {
		bottom: 25px;
	}

	#liv-content-families {
	    top: 165px;
	    width: 400px;
	    font-size: 20px;
	}

	#liv-content-container-clean-eating {
		background: url(/images/soup.jpg);
    	background-position: 50% 50%;
    	background-repeat: no-repeat;
    	background-size: 150%;
	}

	#liv-content-container-clean-eating img {
		display: none;
	}


	#liv-content-against, #liv-content-clean-eating {
	    top: 75px;
	}

	#liv-content-usp-2 {
	    font-size: 24px;
	    padding: 0 50px;
	}	
}

@media screen and (max-width: 768px) {
	
	.liv-mb {
		display: inline-block;
	}

	.liv-dt {
		display: none;
	}

	#liv-nav-container {
		text-align: center;
		height: 100px;
	}

	#liv-usp-container, .liv-content-container {
		height: auto;
	}

	.liv-img-left, .liv-img-right {
		width: 100%;
	}

	#liv-usp {
		font-size: 24px;
		width: 100%;
		top: 150px;
	}

	#liv-btn-shop-1 {
		bottom: 50%;
		/*transform: translate(-50%, 50%);*/
	}

	#liv-btn-shop-1, #liv-btn-shop-2 {
		width: 300px;
	}

	#liv-content-container-against {
		top: -1px;
	}



	#liv-content-container-clean-eating {
		top: -2px;
		background: url(/images/soup.jpg);
    	background-position: 50% 50%;
    	background-repeat: no-repeat;
    	background-size: 300%;
	}

	#liv-content-container-clean-eating img {
		display: none;
	}

	

	#liv-content-families {
		width: 90%;
   		margin: 0 auto;
   		text-align: center;
    	left: 0;
    	right: 0;
   		top: 50%;
    	transform: translateY(-50%);
	}

	#liv-content-usp-2 {
	    height: 120px;
	    font-size: 22px;
	    padding: 0 10px;
	}

	/* updated */
	.liv-products-container {
		width: 100%;
	}

	.liv-product {
		display: block;
		margin: 0 auto;
	}


	#liv-content-products {
		width: 100%;
		margin-left: 0;
		padding: 10px;
	}

	#liv-product-container, #liv-prod-img-section, #liv-prod-select-section {
		display: block;
		width: 100%;
	}

	#liv-prod-details-wrapper-dt {
		display: none;
	}

	#liv-prod-details-wrapper-mb {
		display: block;
	}

	#liv-prod-select-section {

	    width: 90%;
	    margin-left: 0;
	}

	#liv-cart-submit {
		/*width: 350px;*/
		width: 90%;
	}

	#liv-img-processing {
		position: absolute;
		top: 75%;
		left: 50%;
		transform: translate(-50%,-50%);
		height: 128px;
	}

	#liv-prod-img-container {
   
   		 margin-left: 0;
   		 width: 90%;
   		 height: auto;
	}

	#liv-img-prod-details {
	    height: auto;
	    width: 100%;
	    margin-left: 0;
	    
	}


	#liv-prod-cats, #liv-other-imgs-container {

	    margin-left: 0;
	}

	/******* Shopping Cart *******/

	#liv-cart-container {
		display: none;
	}

	#liv-cart-container-mb {
		display: block;
	}

	/******* End Shopping Cart ********/

	/******* Our Story *********/

	#liv-content-container-our-story {
	    height: 250px;
	}

	/******* End Our Story *******/

	/******* Recipes ********/

	#liv-recipe-container {
		margin-left: 0;
		padding-left: 5px;
		padding-right: 5px;
	}

	.liv-recipe-img {
		width: 100%;
	}

	.liv-recipe-info {
		display: block;
	}

	#liv-recipe-directions-container {
    	display: block;
	}

	.liv-recipe-info.right {
    	margin-left: 0;
	}

	#liv-story {
   	  width: 100%;
	}

	.liv-signup-btn {
    	width: 100%;
    	height: 80px;
    	left: 0;
	}

	#liv-signup {
		width: 90%;
		padding: 0 10px;
		height: 85%;
	}

	.liv-signup-txt {
		width: 100%;
		margin: 20px auto;

	}

	#liv-signup-submit {
		width: 100%;
		height: 80px;
		font-size: 22px;
	}

	.liv-page-break {
		width: 100%;
	}


	/******* End Recipes ********/





}

/********* Liv Sales Letters *********/
#liv-cover-container {
	height: 100%;
	width: 100%;
}

#liv-fda-disclaimer {
	width: 50%;
	margin-left: 60px;
	margin-top: 30px;
}

