<style>

 #liv-ad-copy {
 	margin-left: 100px;
 	width: 500px;
 	font-size: 20px;
 }

 #liv-page-container {
 	width: 100%;
 	height: 100%;
 }

 @media screen and (max-width: 768px) {

 	 #liv-ad-copy {
	 	margin-left: auto;
	 	margin-right: auto;
	 	width: 90%;
	 }

 }

</style>





<!--<script src="http://localhost:1342/js/paginationTest.js"></script>-->

<!--<script src="http://localhost:1340/js/mef.js"></script>-->

<!--<script src="https://alwayslivon.com/js/cart.js"></script>-->
<div id="liv-page-container">

<div id="liv-product-container" data-prod-id="<%= prodId %>" data-csrf="<%= _csrf %>" data-prod-name="<%= fullName %>" data-in-stock="<%= inStock %>" data-tax-rate="<%= taxRate %>" data-shipping-rate="<%= shippingPrice %>"
data-promo-id="<%= validUrlPromo? validUrlPromo.id : '-1' %>" data-promo-type="<%= validUrlPromo? validUrlPromo.type : 'na' %>" data-promo-price="<%= validUrlPromo? validUrlPromo.price : '-1' %>">
	<div id="liv-prod-img-section">
		<div id="liv-prod-img-container">
			<div><img id="liv-img-prod-details" data-def-img="<%= img %>" class="full-height" src="" data-mef-id="product-design-front" /></div>
			<!--<img id="liv-img-guarantee" src="/images/satisfaction_gurantee_cropped.png" />-->
			<p class="liv-lbl-new-2 <%= isNew === false? 'liv-hidden' : '' %>">New</p>
		</div>

		<div id="liv-prod-cats">
			<!--<img class="liv-prod-cat" src="/images/icons/liv_on_usda.png" />
			<img class="liv-prod-cat" src="/images/icons/liv_on_non_gmo.png" />
			<img class="liv-prod-cat" src="/images/icons/liv_on_vegan.png" />
			<img class="liv-prod-cat" src="/images/icons/liv_on_dairy_free.png" />
			<img class="liv-prod-cat" src="/images/icons/liv_on_gluten_free.png" />
			<img class="liv-prod-cat" src="/images/icons/liv_on_soy_free.png" />-->
			<% categories.forEach(function(c) { %>
				<img class="liv-prod-cat" src="<%= c.img %>" alt="<%= c.name %>" />
		 	<% }); %>
		</div>

		<!--Add *other* images-->
		<div id="liv-other-imgs-container">
			<% otherImgs.forEach(function(img, i) { %>
			  <% if (i === 0) { %>
				<a class="liv-lightbox-img" href="" data-lightbox="extra" data-title="Nutrition &amp; Directions">
					<img class="liv-img-extra" src="" data-mef-id="product-design-nutrition" />
				</a>
			 <% } else { %>
			 	<a class="liv-lightbox-img" href="" data-lightbox="extra" data-title="Nutrition &amp; Directions">
					<img class="liv-img-extra" src="" data-mef-id="product-design-directions" />
				</a>
			 <% } %>
		 	<% }); %>
		</div>
	</div>

	<div id="liv-prod-select-section">
		<h1>Liv On <span data-mef-id="flavor">
		<% names.forEach(function(n) { %>
			<!--<span id="liv-prod-name" style="color: <%= n.nameColor %>"><%= n.name %></span>-->
		 <% }); %>
		</span>
		 </h1>
		 <h2 id="liv-x-prod-name">Healthy Protein Blend</h2>
		 <h2 class="liv-green" data-mef-id="usp"></h2>
		 <h3 class="liv-green" data-mef-id="promo"></h3>
		<!--<h2><%= description %></h2>-->
		<ul id="liv-prod-desc-list">
			<li>18g Protein Per Serving</li>
			<li>Only <span data-mef-id="grams-sugar"></span>g Sugar Per Serving</li>
			<li>Yummy!</li>
			<li>Plant Based</li>
			<li>6 Simple Ingredients</li>
		</ul>
		<h2 class="liv-green" data-mef-id="uvp"></h2>

		<!--<form>-->
			<h3 id="liv-flvr">Flavor</h3>

			<% var i = 0; %>
			<% flavors.forEach(function(f) { %>
			<% if (i == 0) { %>
			   <div class="liv-flvr-container">
				<input id="liv-flvr-<%= f.lblId %>" type="radio" name="flavor" checked="checked" value="<%= f.id%>" data-img="<%= f.img %>" />
				<label class="liv-flvr-lbl" for="liv-flvr-<%= f.lblId %>" data-mef-id="flavor"></label>
				</div>
			  <% } else {  %>
			  	<div class="liv-flvr-container">
					<input id="liv-flvr-<%= f.lblId %>" type="radio" name="flavor"  value="<%= f.id %>" data-img="<%= f.img %>" />
					<label class="liv-flvr-lbl" for="liv-flvr-<%= f.lblId %>" data-mef-id="flavor"></label>
				</div>
			  <% } i++; }); %>

			<!--<div class="liv-flvr-container">
				<input id="liv-flvr-choc" type="radio" name="flavor" checked="checked" value="1" />
				<label class="liv-flvr-lbl" for="liv-flvr-choc">Chocolate</label>
			</div>
			
			<div class="liv-flvr-container">
				<input id="liv-flvr-natur" type="radio" name="flavor" value="2" />
				<label class="liv-flvr-lbl" for="liv-flvr-natur">Natural (Unflavored)</label>
			</div>-->

			<h3 class="liv-green">Size</h3>

			<!--<select id="liv-size-select">
			  <% sizes.forEach(function(size) { %>
			   <option data-price="<%= size.price %>" value="<%= size.id %>"><%= size.size %></option>
			  <% }); %>
			</select>-->
			<h4 id="liv-size"><span data-mef-id="servings"></span> Servings</h4>

			<h3 class="liv-green">Quantity</h3>

			<% if (validUrlPromo) { %>
				
					<input id="liv-qty-x" type="number" min="1" max="10" name="qty" value="<%= validUrlPromo.qty ? validUrlPromo.qty : 1 %>" />
				
			<% } else { %>
				<input id="liv-qty-x" type="number" min="1" max="10" name="qty" value="1" />

			<% } %>

			

			<!-- add promotion section -->
			<% if (promotion) { %>
			  <!--<div id="liv-promo-container">
				<h3>Promo Code</h3>
				<input id="liv-promo-input" type="text" value="<%= validUrlPromo? validUrlPromo.code : ''%>" />
				<button id="liv-btn-add-promotion">Add Promotion</button>
				<h4 id="liv-promo-success" class="liv-promo <%= validUrlPromo? '' : 'liv-gone'%>">Promotion Added!</h4>
				  
				<h4 id="liv-promo-desc" class="liv-promo liv-green <%= validUrlPromo? validUrlPromo.desc? '' : 'liv-gone' : 'liv-gone' %>"><%= validUrlPromo? validUrlPromo.desc? validUrlPromo.desc : '' : '' %></h4>

				<h4 id="liv-promo-invalid" class="liv-promo liv-error liv-gone">Invalid Promo Code</h4>
				<h4 id="liv-promo-error" class="liv-promo liv-error liv-gone">An Error Occurred. Please Refresh &amp; Try Again</h4>
			  </div>-->
			<% } %>

			<h3 id="liv-promo-name" class="liv-green" data-mef-id="promo"></h3>

			<div id="liv-subtotals-container">

				<div>
					<h2 id="liv-price" data-orig-price="<%= sizes[0].price %>" class="liv-subtotals left promo <%= validUrlPromo && validUrlPromo.type != 'shipping'? 'promo' : '' %>" data-mef-id="offer-price"></h2>

					<% if(validUrlPromo) { %>
						<% if(validUrlPromo.type === 'combo') { %>
							<h2 id="liv-promo-price" data-orig-price="<%= (1 - validUrlPromo.combo.price.percentOff / 100) * sizes[0].price %> %>" class="liv-subtotals right <%= validUrlPromo && validUrlPromo.type != 'shipping'? '' : 'liv-gone'%>">$<%= Math.ceil((1 - validUrlPromo.combo.price.percentOff / 100) * sizes[0].price * 100) / 100 %></h2>
						<% } else { %>
						<h2 id="liv-promo-price" data-orig-price="<%= validUrlPromo.price %>" class="liv-subtotals right <%= validUrlPromo && validUrlPromo.type != 'shipping'? '' : 'liv-gone'%>">$<%= validUrlPromo.price %></h2>

					<%} } else { %>
						<h2 id="liv-promo-price" data-orig-price="<%= promotion.promoPrice %>" class="liv-subtotals right <%= validUrlPromo && validUrlPromo.type != 'shipping'? '' : 'liv-gone'%>">$<%= promotion.promoPrice %></h2>
					<% } %>

					<h2 id="liv-promo-price-x" style="margin-top: 30px"  class="liv-subtotals right liv-green" data-mef-id="offer-subtotal"></h2>

				</div>

				<div>
					<span class="liv-subtotals left">Subtotal</span>

					<% if (validUrlPromo) { %>
						<% if (validUrlPromo.type === 'shipping') { %>
							<span id="liv-subtotal" class="liv-subtotals right" data-mef-id="offer-subtotal"></span>	
						<% } else if (validUrlPromo.type === 'combo') { %>
							<% if (validUrlPromo.combo.price.percentOff) { %>
					  		<span id="liv-subtotal" class="liv-subtotals right" data-mef-id="offer-subtotal"></span>
					  		<% } else { %>
					  			<span id="liv-subtotal" class="liv-subtotals right" data-mef-id="offer-subtotal"></span>
					  		<% } %> 	
					  	<% } else { %>
					<% } } else { %>
							<span id="liv-subtotal" class="liv-subtotals right" data-mef-id="offer-subtotal"></span>
					<% } %>
						
				</div>

				<div>
					<span class="liv-subtotals left">Shipping</span>

					<% if (validUrlPromo) { %>
						<% if (validUrlPromo.type === 'shipping') { %>
							<span id="liv-shipping" class="liv-subtotals right liv-green" data-shipping="<%= validUrlPromo.promoPrice %>" data-mef-id="shipping"></span>	
						<% } else if (validUrlPromo.type === 'combo') {  %>
							<span id="liv-shipping" class="liv-subtotals right liv-green" data-shipping="<%= validUrlPromo.price %>" data-mef-id="shipping"></span>	
						<% } else { %>
					  		<span id="liv-shipping" class="liv-subtotals right" data-shipping="<%= shippingPrice %>" data-mef-id="shipping"></span>
					<% } } else { %>
							<span id="liv-shipping" class="liv-subtotals right" data-shipping="<%= shippingPrice %>" data-mef-id="shipping"></span>
					<% } %>
						
				</div>

				<div>
					<span class="liv-subtotals left">Taxes &amp; Fees</span>

					<% if (validUrlPromo) { %>
						<% if (validUrlPromo.type === 'shipping') { %>
							<span id="liv-tax" data-tax-rate="<%= taxRate %>" class="liv-subtotals right" data-mef-id="taxes-fees"></span>
						<% } else if (validUrlPromo.type === 'combo') { %>
							<span id="liv-tax" data-tax-rate="<%= taxRate %>" class="liv-subtotals right" data-mef-id="taxes-fees"></span>
						<% } else { %>
							<% if (validUrlPromo.price > 0) { %>
					  		<span id="liv-tax" data-tax-rate="<%= taxRate %>" class="liv-subtotals right" data-mef-id="taxes-fees"></span>
					  		<% } else { %>
					  			<span id="liv-tax" data-tax-rate="<%= taxRate %>" class="liv-subtotals right" data-mef-id="taxes-fees"></span>
					  		<% } %>
					<% } } else { %>
							<span id="liv-tax" data-tax-rate="<%= taxRate %>" class="liv-subtotals right" data-mef-id="taxes-fees"></span>
					<% } %>

					
				</div>

				<hr>

				<div>
					<span class="liv-subtotals left">Total</span>

					<% if (validUrlPromo) { %>
						<% if (validUrlPromo.type === 'shipping') { %>
							<span id="liv-total" data-tax-rate="<%= taxRate %>" class="liv-subtotals right" data-mef-id="total" data-mef-total></span>
						<% } else if (validUrlPromo.type === 'combo') { %>
							<span id="liv-total" data-tax-rate="<%= taxRate %>" class="liv-subtotals right" data-mef-id="total" data-mef-total></span>
						<% } else { %>
							<% if (validUrlPromo.price > 0) { %>
					  		<span id="liv-total" data-tax-rate="<%= taxRate %>" class="liv-subtotals right" data-mef-id="total" data-mef-total></span>
					  		<% } else { %>
					  			<span id="liv-total" data-tax-rate="<%= taxRate %>" class="liv-subtotals right" data-mef-id="total" data-mef-total></span>
					  		<% } %>
					<% } } else { %>
							<span id="liv-total" data-tax-rate="<%= taxRate %>" class="liv-subtotals right" data-mef-id="total" data-mef-total></span>
					<% } %>
					
				</div>


			</div>

			<button id="liv-btn-checkout-exp" class="liv-btn-checkout">Checkout</button>

			<div id="liv-paypal-container">
				<p>Or</p>
				<!--<form id="paypal-form" action="https://www.paypal.com/cgi-bin/webscr" method="post" >
					<input type="hidden" name="cmd" value="_xclick">
					<input type="hidden" name="business" value="9ARP6C6E69QWE">
					<input type="hidden" name="lc" value="BM">
					<input type="hidden" name="item_name" value="Default">
					<input type="hidden" name="amount" value="0.00">
					<input type="hidden" name="currency_code" value="USD">
					<input type="hidden" name="button_subtype" value="services">
					<input type="hidden" name="no_note" value="0">
					<input type="hidden" name="cn" value="Add special instructions to the seller:">
					<input type="hidden" name="no_shipping" value="2">
					<input type="hidden" name="tax_rate" value="8.250">
					<input type="hidden" name="shipping" value="5.00">
					<input type="hidden" name="bn" value="PP-BuyNowBF:btn_buynowCC_LG.gif:NonHosted">
					<input id="paypal-submit" type="image" src="https://www.paypalobjects.com/webstatic/en_US/i/btn/png/gold-pill-paypal-34px.png" alt="PayPal" border="0" name="submit">
					<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
				</form>-->
				<form id="paypal-form" action="" method="post" target="_top">
					<input type="hidden" name="cmd" value="_xclick">
					<input type="hidden" name="business" value="">
					<input type="hidden" name="lc" value="BM">
					<input type="hidden" name="item_name" value="Liv On Checkout">
					<!--<input type="hidden" name="item_number" value="1">-->
					<input type="hidden" name="amount" value="10.00">
					<input type="hidden" name="currency_code" value="USD">
					<input type="hidden" name="button_subtype" value="services">
					<input type="hidden" name="no_note" value="0">
					<input type="hidden" name="cn" value="Add special instructions to the seller:">
					<input type="hidden" name="quantity" value="1">
					<input type="hidden" name="no_shipping" value="2">
					<input type="hidden" name="tax_rate" value="8.250">
					<!--<input type="hidden" name="tax" value="8.250">-->
					<input type="hidden" name="shipping" value="5.00">
					<input type="hidden" name="handling" value="0.00">
					<input type="hidden" name="bn" value="PP-BuyNowBF:btn_buynowCC_LG.gif:NonHosted">
					<input id="paypal-submit-exp" type="image" src="https://www.paypalobjects.com/webstatic/en_US/i/btn/png/gold-pill-paypal-34px.png" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
					<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
				</form>



			</div>

			<!--<div class="liv-heart-container">
				<span class="liv-heart"></span>
				<i class="liv-heart fa fa-heart" aria-hidden="true"></i>
				<h4 class="liv-heart-text">10% of Every Purchase is Donated to The Treatment Families Battling Cancer</h4>
			</div>-->
			<img id="liv-img-processing" class="liv-hidden" src="/images/processing.gif" />



		<!--</form>-->
	</div>
</div>

<p id="liv-ad-copy" data-mef-id="ad-copy"></p>

</div>

<% if (showSignup) { %>
<%- partial('../leadmagnets/recipes-fitness-deals.ejs') %>
<% } %>
