<!--<form action="/charge" method="POST">
  <script
    src="https://checkout.stripe.com/checkout.js"
    class="stripe-button"
    data-key="pk_test_6pRNASCoBOKtIshFeQd4XMUh"
    data-image="/images/liv_on_logo_centered.png"
    data-name="Liv On Chocolate Cinnamon Sample Pack"
    data-description="FREE + (Ground Shipping $10.95)"
    data-amount="1095"
    data-billing-address="true"
    data-zip-code="true"
    data-shipping-address="true">
  </script>
</form>-->



<script id="mcjs">!function(c,h,i,m,p){m=c.createElement(h),p=c.getElementsByTagName(h)[0],m.async=1,m.src=i,p.parentNode.insertBefore(m,p)}(document,"script","https://chimpstatic.com/mcjs-connected/js/users/3aabaee882617bcdb35f649be/ececd9ff0ba6b790e2f4eba59.js");</script>

<div id="liv-product-container" data-prod-id="<%= prodId %>" data-csrf="<%= _csrf %>" data-prod-name="<%= fullName %>" data-in-stock="<%= inStock %>" data-tax-rate="<%= taxRate %>" data-shipping-rate="<%= shippingPrice %>"
data-promo-id="<%= validUrlPromo? validUrlPromo.id : '-1' %>" data-promo-type="<%= validUrlPromo? validUrlPromo.type : 'na' %>" data-promo-price="<%= validUrlPromo? validUrlPromo.price : '-1' %>">
	<div id="liv-prod-img-section">
		<div id="liv-prod-img-container">
			<div><img id="liv-img-prod-details" data-def-img="<%= img %>" class="full-height" src="<%= validUrlPromo? validUrlPromo.img || img : img %>" /></div>
			<!--<img id="liv-img-guarantee" src="/images/satisfaction_gurantee_cropped.png" />-->
			<p class="liv-lbl-new-2 <%= isNew === false? 'liv-hidden' : '' %>">New</p>
		</div>

		<div id="liv-prod-cats">
			<!--<img class="liv-prod-cat" src="/images/icons/liv_on_usda.png" />
			<img class="liv-prod-cat" src="/images/icons/liv_on_non_gmo.png" />
			<img class="liv-prod-cat" src="/images/icons/liv_on_vegan.png" />
			<img class="liv-prod-cat" src="/images/icons/liv_on_dairy_free.png" />
			<img class="liv-prod-cat" src="/images/icons/liv_on_gluten_free.png" />
			<img class="liv-prod-cat" src="/images/icons/liv_on_soy_free.png" />-->
			<% categories.forEach(function(c) { %>
				<img class="liv-prod-cat" src="<%= c.img %>" alt="<%= c.name %>" />
		 	<% }); %>
		</div>

		<!--Add *other* images-->
		<div id="liv-other-imgs-container">
			<h3 class="liv-green">Nutrition &amp; Ingredients</h3>
			<% otherImgs.forEach(function(img) { %>
				<a class="liv-lightbox-img" href="<%= img %>" data-lightbox="extra" data-title="Nutriton &amp; Directions">
					<img class="liv-img-extra" src="<%= img %>" />
				</a>
		 	<% }); %>
		</div>
	</div>

	<div id="liv-prod-select-section">
		<h1>Liv On 
		<% names.forEach(function(n) { %>
			<span id="liv-prod-name" style="color: <%= n.nameColor %>"><%= n.name %></span>
		 <% }); %>
		 </h1>
		<h2><%= description %></h2>

		<!--<form>-->
			<h3 id="liv-flvr">Flavor</h3>

			<% var i = 0; %>
			<% flavors.forEach(function(f) { %>
			<% if (i == 0) { %>
			   <div class="liv-flvr-container">
				<input id="liv-flvr-<%= f.lblId %>" type="radio" name="flavor" checked="checked" value="<%= f.id%>" data-img="<%= f.img %>" />
				<label class="liv-flvr-lbl" for="liv-flvr-<%= f.lblId %>"><%= f.flavor %></label>
				</div>
			  <% } else {  %>
			  	<div class="liv-flvr-container">
					<input id="liv-flvr-<%= f.lblId %>" type="radio" name="flavor"  value="<%= f.id %>" data-img="<%= f.img %>" />
					<label class="liv-flvr-lbl" for="liv-flvr-<%= f.lblId %>"><%= f.flavor %></label>
				</div>
			  <% } i++; }); %>

			<!--<div class="liv-flvr-container">
				<input id="liv-flvr-choc" type="radio" name="flavor" checked="checked" value="1" />
				<label class="liv-flvr-lbl" for="liv-flvr-choc">Chocolate</label>
			</div>
			
			<div class="liv-flvr-container">
				<input id="liv-flvr-natur" type="radio" name="flavor" value="2" />
				<label class="liv-flvr-lbl" for="liv-flvr-natur">Natural (Unflavored)</label>
			</div>-->

			<h3 id="liv-size">Size</h3>

			<select id="liv-size-select">
			  <% sizes.forEach(function(size) { %>
			   <option data-price="<%= size.price %>" value="<%= size.id %>"><%= size.size %></option>
			  <% }); %>
			</select>

			<h3 id="liv-size">Quantity</h3>

			<% if (validUrlPromo) { %>
				
					<input id="liv-qty" type="number" min="1" max="10" name="qty" value="<%= validUrlPromo.qty ? validUrlPromo.qty : 1 %>" />
				
			<% } else { %>
				<input id="liv-qty" type="number" min="1" max="10" name="qty" value="1" />

			<% } %>

			

			<!-- add promotion section -->
			<% if (promotion) { %>
			  <div id="liv-promo-container">
				<h3>Promo Code</h3>
				<input id="liv-promo-input" type="text" value="<%= validUrlPromo? validUrlPromo.code : ''%>" />
				<button id="liv-btn-add-promotion">Add Promotion</button>
				<h4 id="liv-promo-success" class="liv-promo <%= validUrlPromo? '' : 'liv-gone'%>">Promotion Added!</h4>
				  
				<h4 id="liv-promo-desc" class="liv-promo liv-green <%= validUrlPromo? validUrlPromo.desc? '' : 'liv-gone' : 'liv-gone' %>"><%= validUrlPromo? validUrlPromo.desc? validUrlPromo.desc : '' : '' %></h4>

				<h4 id="liv-promo-invalid" class="liv-promo liv-error liv-gone">Invalid Promo Code</h4>
				<h4 id="liv-promo-error" class="liv-promo liv-error liv-gone">An Error Occurred. Please Refresh &amp; Try Again</h4>
			  </div>
			<% } %>

			<div id="liv-subtotals-container">

				<div>
					<h2 id="liv-price" data-orig-price="<%= sizes[0].price %>" class="liv-subtotals left <%= validUrlPromo && validUrlPromo.type != 'shipping'? 'promo' : '' %>">$<%= sizes[0].price %></h2>

					<% if(validUrlPromo) { %>
						<% if(validUrlPromo.type === 'combo') { %>
							<h2 id="liv-promo-price" data-orig-price="<%= (1 - validUrlPromo.combo.price.percentOff / 100) * sizes[0].price %> %>" class="liv-subtotals right <%= validUrlPromo && validUrlPromo.type != 'shipping'? '' : 'liv-gone'%>">$<%= Math.ceil((1 - validUrlPromo.combo.price.percentOff / 100) * sizes[0].price * 100) / 100 %></h2>
						<% } else { %>
						<h2 id="liv-promo-price" data-orig-price="<%= validUrlPromo.price %>" class="liv-subtotals right <%= validUrlPromo && validUrlPromo.type != 'shipping'? '' : 'liv-gone'%>">$<%= validUrlPromo.price %></h2>

					<%} } else { %>
						<h2 id="liv-promo-price" data-orig-price="<%= promotion.promoPrice %>" class="liv-subtotals right <%= validUrlPromo && validUrlPromo.type != 'shipping'? '' : 'liv-gone'%>">$<%= promotion.promoPrice %></h2>
					<% } %>

				</div>

				<div>
					<span class="liv-subtotals left">Subtotal</span>

					<% if (validUrlPromo) { %>
						<% if (validUrlPromo.type === 'shipping') { %>
							<span id="liv-subtotal" class="liv-subtotals right">$<%= sizes[0].price %></span>	
						<% } else if (validUrlPromo.type === 'combo') { %>
							<% if (validUrlPromo.combo.price.percentOff) { %>
					  		<span id="liv-subtotal" class="liv-subtotals right">$<%= validUrlPromo.qty? Math.ceil((1 - validUrlPromo.combo.price.percentOff / 100) * sizes[0].price * validUrlPromo.qty * 100) / 100 : (1 - validUrlPromo.combo.price.percentOff * 0.01) * sizes[0].price  %></span>
					  		<% } else { %>
					  			<span id="liv-subtotal" class="liv-subtotals right">$<%= validUrlPromo.promoPrice %></span>
					  		<% } %> 	
					  	<% } else { %>
					<% } } else { %>
							<span id="liv-subtotal" class="liv-subtotals right">$<%= sizes[0].price %></span>
					<% } %>
						
				</div>

				<div>
					<span class="liv-subtotals left">Shipping</span>

					<% if (validUrlPromo) { %>
						<% if (validUrlPromo.type === 'shipping') { %>
							<span id="liv-shipping" class="liv-subtotals right liv-green" data-shipping="<%= validUrlPromo.promoPrice %>">$<%= validUrlPromo.price %></span>	
						<% } else if (validUrlPromo.type === 'combo') {  %>
							<span id="liv-shipping" class="liv-subtotals right liv-green" data-shipping="<%= validUrlPromo.price %>">$<%= validUrlPromo.combo.shipping.promoPrice %></span>	
						<% } else { %>
					  		<span id="liv-shipping" class="liv-subtotals right" data-shipping="<%= shippingPrice %>">$<%= shippingPrice %></span>
					<% } } else { %>
							<span id="liv-shipping" class="liv-subtotals right" data-shipping="<%= shippingPrice %>">$<%= shippingPrice %></span>
					<% } %>
						
				</div>

				<div>
					<span class="liv-subtotals left">Taxes &amp; Fees</span>

					<% if (validUrlPromo) { %>
						<% if (validUrlPromo.type === 'shipping') { %>
							<span id="liv-tax" data-tax-rate="<%= taxRate %>" class="liv-subtotals right">$<%= Math.ceil((sizes[0].price * taxRate + (((sizes[0].price * (1 + taxRate) + validUrlPromo.price) * 0.029 + 0.30) / (1 - 0.029))) * 100) / 100 %></span>
						<% } else if (validUrlPromo.type === 'combo') { %>
							<span id="liv-tax" data-tax-rate="<%= taxRate %>" class="liv-subtotals right">$<%= Math.ceil((sizes[0].price * (1 - validUrlPromo.combo.price.percentOff / 100) * taxRate * validUrlPromo.qty + (((sizes[0].price * (1 + taxRate) * (1 - validUrlPromo.combo.price.percentOff / 100) * validUrlPromo.qty) * 0.029 + 0.30) / (1 - 0.029))) * 100) / 100 %></span>
						<% } else { %>
							<% if (validUrlPromo.price > 0) { %>
					  		<span id="liv-tax" data-tax-rate="<%= taxRate %>" class="liv-subtotals right">$<%= Math.ceil((validUrlPromo.price * taxRate + (((validUrlPromo.price * (1 + taxRate) + shippingPrice) * 0.029 + 0.30) / (1 - 0.029))) *  100) / 100 %></span>
					  		<% } else { %>
					  			<span id="liv-tax" data-tax-rate="<%= taxRate %>" class="liv-subtotals right">$<%= Math.ceil((validUrlPromo.price * taxRate)) %></span>
					  		<% } %>
					<% } } else { %>
							<span id="liv-tax" data-tax-rate="<%= taxRate %>" class="liv-subtotals right">$<%= Math.ceil((sizes[0].price * taxRate + (((sizes[0].price * (1 + taxRate) + shippingPrice) * 0.029 + 0.30) / (1 - 0.029))) * 100) / 100 %></span>
					<% } %>

					
				</div>

				<hr>

				<div>
					<span class="liv-subtotals left">Total</span>

					<% if (validUrlPromo) { %>
						<% if (validUrlPromo.type === 'shipping') { %>
							<span id="liv-total" data-tax-rate="<%= taxRate %>" class="liv-subtotals right">$<%= Math.ceil((((sizes[0].price * (1 + taxRate) + validUrlPromo.price) + 0.30) / (1 - 0.029)) * 100) / 100 %></span>
						<% } else if (validUrlPromo.type === 'combo') { %>
							<span id="liv-total" data-tax-rate="<%= taxRate %>" class="liv-subtotals right">$<%= Math.ceil((((sizes[0].price * (1 - validUrlPromo.combo.price.percentOff / 100) * (1 + taxRate) * validUrlPromo.qty + validUrlPromo.combo.shipping.promoPrice ) + 0.30) / (1 - 0.029)) * 100) / 100 %></span>
						<% } else { %>
							<% if (validUrlPromo.price > 0) { %>
					  		<span id="liv-total" data-tax-rate="<%= taxRate %>" class="liv-subtotals right">$<%= Math.ceil((((validUrlPromo.price * (1 + taxRate) + shippingPrice) + 0.30) / (1 - 0.029)) * 100) / 100 %></span>
					  		<% } else { %>
					  			<span id="liv-total" data-tax-rate="<%= taxRate %>" class="liv-subtotals right">$<%= Math.ceil(validUrlPromo.price * (1 + taxRate) + shippingPrice * 100) / 100 %></span>
					  		<% } %>
					<% } } else { %>
							<span id="liv-total" data-tax-rate="<%= taxRate %>" class="liv-subtotals right">$<%= Math.ceil((((sizes[0].price * (1 + taxRate) + shippingPrice) + 0.30) / (1 - 0.029)) * 100) / 100 %></span>
					<% } %>
					
				</div>


			</div>

			<button id="liv-btn-checkout">Checkout</button>

			<div id="liv-paypal-container">
				<p>Or</p>
				<!--<form id="paypal-form" action="https://www.paypal.com/cgi-bin/webscr" method="post" >
					<input type="hidden" name="cmd" value="_xclick">
					<input type="hidden" name="business" value="9ARP6C6E69QWE">
					<input type="hidden" name="lc" value="BM">
					<input type="hidden" name="item_name" value="Default">
					<input type="hidden" name="amount" value="0.00">
					<input type="hidden" name="currency_code" value="USD">
					<input type="hidden" name="button_subtype" value="services">
					<input type="hidden" name="no_note" value="0">
					<input type="hidden" name="cn" value="Add special instructions to the seller:">
					<input type="hidden" name="no_shipping" value="2">
					<input type="hidden" name="tax_rate" value="8.250">
					<input type="hidden" name="shipping" value="5.00">
					<input type="hidden" name="bn" value="PP-BuyNowBF:btn_buynowCC_LG.gif:NonHosted">
					<input id="paypal-submit" type="image" src="https://www.paypalobjects.com/webstatic/en_US/i/btn/png/gold-pill-paypal-34px.png" alt="PayPal" border="0" name="submit">
					<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
				</form>-->
				<form id="paypal-form" action="" method="post" target="_top">
					<input type="hidden" name="cmd" value="_xclick">
					<input type="hidden" name="business" value="">
					<input type="hidden" name="lc" value="BM">
					<input type="hidden" name="item_name" value="Liv On Checkout">
					<!--<input type="hidden" name="item_number" value="1">-->
					<input type="hidden" name="amount" value="10.00">
					<input type="hidden" name="currency_code" value="USD">
					<input type="hidden" name="button_subtype" value="services">
					<input type="hidden" name="no_note" value="0">
					<input type="hidden" name="cn" value="Add special instructions to the seller:">
					<input type="hidden" name="quantity" value="1">
					<input type="hidden" name="no_shipping" value="2">
					<input type="hidden" name="tax_rate" value="8.250">
					<!--<input type="hidden" name="tax" value="8.250">-->
					<input type="hidden" name="shipping" value="5.00">
					<input type="hidden" name="handling" value="0.00">
					<input type="hidden" name="bn" value="PP-BuyNowBF:btn_buynowCC_LG.gif:NonHosted">
					<input id="paypal-submit" type="image" src="https://www.paypalobjects.com/webstatic/en_US/i/btn/png/gold-pill-paypal-34px.png" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
					<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
				</form>



			</div>

			<!--<div class="liv-heart-container">
				<span class="liv-heart"></span>
				<i class="liv-heart fa fa-heart" aria-hidden="true"></i>
				<h4 class="liv-heart-text">10% of Every Purchase is Donated to The Treatment Families Battling Cancer</h4>
			</div>-->
			<img id="liv-img-processing" class="liv-hidden" src="/images/processing.gif" />

		<!--</form>-->
	</div>
</div>

<% if (showSignup) { %>
<%- partial('../leadmagnets/recipes-fitness-deals.ejs') %>
<% } %>
