<script>
	mef('track', 'conversion');
</script>

<div class="liv-content-container">
	<h2 class="liv-overlay-text liv-content-heading left">Order Confirmation</h2>

	<h3 id="liv-order-confirmation">Thank you for your order <%= firstName %>.  We just sent your order confirmation to <%= email %> – it will arrive shortly.
		<br>
		<br>
		Have a wonderful day!
		<br>
		<br>
	-Liv On
	</h3>
</div>

