<script>
	//mef('track', 'conversion', {total: 'placeholder'});
	mef('track', 'conversion');
</script>

<div class="liv-content-container">
	<h2 class="liv-overlay-text liv-content-heading left">Order Confirmation</h2>

	<h3 id="liv-order-confirmation">Thank you for your order. An order confirmation email with transaction details has been sent to you via PayPal.
		<br>
		<br>
		You will receive an email from us when your order has shipped. 
		<br>
		<br>
		Have a wonderful day!
		<br>
		<br>
	-Liv On
	</h3>
</div>

