<div class="liv-content-container short">
	<h2 class="liv-overlay-text liv-content-heading left">Recipes</h2>

</div>

<div id="liv-recipe-container">
		<h1 id="liv-recipe-title">Sugar, Spice &amp; Everything Feminist Blueberry Muffins
		<br>
		<span id="liv-recipe-categories">(Proudly Vegan) (High Protein) (I Can't Believe It's Plant Based)</span>
		</h1>

		<img class="liv-recipe-img" src="/images/recipes/sugar-spice-and-everything-feminist-blueberry-muffins/title_img.JPG" />

		<div id="liv-recipe-info-container">

			<div class="liv-recipe-info left">
				<h4>Recipe by Jabari Holloway</h4>
				<h5>August 7th, 2017</h5>
				<h4 id="liv-hash-tags">#feminism #vegan #plant-based-protein</h4>
			</div>

			<div class="liv-recipe-info right">
				<h4 class="liv-cook-info">Prep Time: <span class="liv-bold">10 min</span></h3>
				<h4 class="liv-cook-info">Bake Time: <span class="liv-bold">20 min</span></h3>
				<h4 class="liv-cook-info">Servings: <span class="liv-bold">12</span></h3>
			</div>

		</div>

		<hr align="left" class="liv-page-break">

		<div id="liv-nutrition-container">
			<h3>Nutrition (per serving)</h3>
			<h4>Calories: 219</h4>
			<h4>Carbohydrates: 17g</h4>
			<h4>Sugar: 10.6g</h4>
			<h4 class="liv-green">Protein: 10g</h4>

	   </div>

	   <div id="liv-recipe-directions-container">
			<div class="liv-recipe-info left">
				<h3>The Ingredients</h3>
				<ul>
					<li>1 Cup blueberries</li>
					<li>1/2 Cups flour</li>
					<li>1 Cup almond milk</li>
					<li>2 Tsp baking powder</li>
					<li>4 Cups (12 Scoops) <a href="/checkout/liv-on-vanilla-cinn-sample-pack" target="_blank">Liv On Vanilla Cinnamon Protein Powder</a></li>
					<li>1/3 Cup olive oil</li>
					<li>1/2 Cup Sugar</li>
				</ul>
				
			</div>

			<div class="liv-recipe-info right">
				<h3>The Directions</h3>
				<ul>
					<li>Pre-heat oven to 350 F</li>
					<li>Mix dry ingredients</li>
					<li>Mix wet ingredients</li>
					<li>Pour dry ingredients into wet ingredients and stir until muffin batter no longer crumbles</li>
					<li>Add blueberries to muffin batter and mix in</li>
					<li>Spray muffin pan with non-stick cooking spray</li>
					<li>Add muffin batter to muffin pan</li>
					<li>Bake for 20min and enjoy :D</li>
				</ul>
			</div>

	   </div>

	   <div id="liv-signup-container">
	   		<h3 class="liv-green liv-bold">Want Even *Tastier* Blueberry Muffins With *Less* Sugar?</h3>
	   		

	   		<img class="liv-recipe-img" src="/images/recipes/sugar-spice-and-everything-feminist-blueberry-muffins/blueberry_muffins.jpg" />

	   		<button id="liv-signup-btn-1" class="liv-btn liv-signup-btn">Get The *Secret* Low Sugar Recipe!</button>
	   </div>

	   <div id="liv-story-container">
	   		<h2>The Tale: A Male Perspective On Feminism</h2>

	   		<p id="liv-story">While I’ve always been ok with the idea of Feminism, until recently I’d never taken the time to actually look up what it means and truly give my support. Why? Because I’m a guy and Feminism is just for women, right? (Wrong answer: I know). You would think that being a minority who’s read about the flames of oppression endured by civil rights heroes Representative John Lewis, Dr. Martin Luther King Jr., and others in the blood-boiling heat of deep southern Selma, and learning of the team effort of all races that led to our triumph, that I’d be compelled to (at the very least) genuinely care about the social problems others face, right? Sadly, in today’s society it’s so much easier to care just about myself and my problems, and at the very best extend my care to the problems that affect me, if I’m not too lazy. 

“Why vote? Someone else will do it. Plus, my vote doesn’t count.”

“Why protest? It’s Satuuurdaaay, let somebody else march. Plus, it won’t change anything...”

“Why go to the grocery store? Can’t I just UberEATs or GrubHub?”

But I was inspired by the nationwide Women’s March on January 21st, 2017 because in feeling despair about the beginning of Donald Trump’s America, I found hope in seeing so many women and others rise against the incarnation of women’s oppression! For the first time, I noticed a daring look in women’s eyes, an air of roaring confidence, a smile of such strong resolve that it spoke to me, “We’re not letting go this time! We won’t stop fighting until we’ve won!” And I realized women are just like me, working to overcome everyday struggles, ready and willing to sacrifice for their beliefs! So I Googled the definition of Feminism. Webster’s top definition says,

“the theory of the political, economic, and social equality of the sexes.”

Immediately after reading the definition I said, “Hey! I already believe in this! I am a Feminist!”

So I thought, “What can I do as a Feminist to support equality of the sexes?”

Well, I work for a plant-based nutrition company named <a href="/our-story">Liv On</a> that specializes in delicious and healthy protein powders that are vegan and also soy-and-gluten-free, which led to the idea that *I can use my career as an opportunity to support and promote Feminism!*

But how?

<b>I decided to do what few men would do: I got into the kitchen and *baked* Blueberry Muffins for my girlfriend in honor of Feminism!</b>

Staying fit and healthy is important to us (and selfishly I wanted a quick and easy way to get protein that I believe in for after my workouts) so I added <a href="/checkout/liv-on-vanilla-cinn-sample-pack" target="_blank">Liv On Vanilla Cinnamon protein powder</a> to my recipe, making each yummy muffin contain 9g of clean, animal-free protein.

<span class="liv-green liv-bold">Things started off smoothly, but then I did one careless thing that almost ruined the recipe...</span>

<span id="liv-signup-text">My troubles began by not accounting for the 2 cups of plant-based protein powder I added to my mix to get my protein. I mixed all of the dry ingredients together in a large bowl (1 ½ cups flour, 2 tsp baking powder, and 2 cups of plant-based protein powder).</span></p>

	   </div>
<button id="liv-signup-btn-2" class="liv-btn liv-signup-btn">Get The *Secret* Low Sugar Recipe!</button>
		
</div>

<div id="liv-modal-signup-bg" class="liv-gone">

</div>

<div id="liv-signup" class="liv-gone">

	<div id="liv-signup-wrap-1">

		<h2>Get The *Secret* Low Sugar Recipe!<br>FREE!</h2>
		<h4>(Signing Up Helps Support Animal Rights!)</h4>

		<form id="liv-signup-form" action="">

			<input type="hidden" name="_csrf" value="<%= _csrf %>" />

			<input type="hidden" name="list" value="SuperHeroVegans" />

			<input class="liv-signup-txt" type="text" name="firstName" placeholder="First Name" />

			<input class="liv-signup-txt" type="email" name="email" placeholder="Email" />

			<button id="liv-signup-submit" class="liv-btn">Yes! I Want The *Secret* Low Sugar Receipe!</button>

			<a class="liv-green liv-signup-cancel" href="#">No thanks, I want to eat more sugar</a>

		</form>
	</div>

	<div id="liv-signup-wrap-2" class="liv-hidden">
		<h2>Your FREE *Secret* Low Sugar Recipe<br>Is On The Way!</h2>
		<h2 class="liv-green">Check Your Inbox</h2>
		<br>
		<br>
		<h2>Congratulations On Eating Cleaner & Saving Animals!</h2>
		<a class="liv-green liv-signup-cancel" href="#">close</a>

	</div>
		

</div>




