<div id="liv-product-container" data-prod-id="<%= prodId %>" data-prod-name="<%= fullName %>" data-in-stock="<%= inStock %>" >
	<div id="liv-prod-img-section">
		<div id="liv-prod-img-container">
			<img id="liv-img-prod-details" src="<%= img %>" />
			<!--<img id="liv-img-guarantee" src="/images/satisfaction_gurantee_cropped.png" />-->
			<p class="liv-lbl-new-2">New</p>
		</div>

		<div id="liv-prod-cats">
			<img class="liv-prod-cat" src="/images/icons/liv_on_usda.png" />
			<img class="liv-prod-cat" src="/images/icons/liv_on_non_gmo.png" />
			<img class="liv-prod-cat" src="/images/icons/liv_on_vegan.png" />
			<img class="liv-prod-cat" src="/images/icons/liv_on_dairy_free.png" />
			<img class="liv-prod-cat" src="/images/icons/liv_on_gluten_free.png" />
			<img class="liv-prod-cat" src="/images/icons/liv_on_soy_free.png" />
		</div>
	</div>

	<div id="liv-prod-select-section">
		<h1>Liv On <span id="liv-prod-name" style="color: <%= nameColor %>"><%= name %></span></h1>
		<h2><%= description %></h2>

		<form>
			<h3 id="liv-flvr">Flavor</h3>

			<% var i = 0; %>
			<% flavors.forEach(function(f) { %>
			<% if (i == 0) { %>
			   <div class="liv-flvr-container">
				<input id="liv-flvr-<%= f.lblId %>" type="radio" name="flavor" checked="checked" value="<%= f.id%>" data-img="<%= f.img %>" />
				<label class="liv-flvr-lbl" for="liv-flvr-<%= f.lblId %>"><%= f.flavor %></label>
				</div>
			  <% } else {  %>
			  	<div class="liv-flvr-container">
					<input id="liv-flvr-<%= f.lblId %>" type="radio" name="flavor"  value="<%= f.id %>" data-img="<%= f.img %>" />
					<label class="liv-flvr-lbl" for="liv-flvr-<%= f.lblId %>"><%= f.flavor %></label>
				</div>
			  <% } i++; }); %>

			<!--<div class="liv-flvr-container">
				<input id="liv-flvr-choc" type="radio" name="flavor" checked="checked" value="1" />
				<label class="liv-flvr-lbl" for="liv-flvr-choc">Chocolate</label>
			</div>
			
			<div class="liv-flvr-container">
				<input id="liv-flvr-natur" type="radio" name="flavor" value="2" />
				<label class="liv-flvr-lbl" for="liv-flvr-natur">Natural (Unflavored)</label>
			</div>-->

			<h3 id="liv-size">Size</h3>

			<select id="liv-size-select">
			  <% sizes.forEach(function(size) { %>
			   <option data-price="<%= size.price %>" value="<%= size.id %>"><%= size.size %></option>
			  <% }); %>
			</select>

			<h2 id="liv-price">$<%= sizes[0].price %></h2>

			<input id="liv-cart-submit" type="submit" value="Add to Cart"/>

			<div class="liv-heart-container">
				<!--<span class="liv-heart"></span>-->
				<i class="liv-heart fa fa-heart" aria-hidden="true"></i>
				<h4 class="liv-heart-text">10% of Every Purchase is Donated to The Treatment Families Battling Cancer</h4>
			</div>

		</form>
	</div>
</div>

<div id="liv-prod-details-wrapper-dt">

	<div class="liv-prod-details-container">

	<h2>Our Guarantee</h2>

	<h3>Blends flawlessly in your smoothie <b class="liv-green">or it's free.</b> We mean it.</h3>

	<p>Unlike most plant based meal replacement products, ours actually blends
		completely in smoothies – either you can't taste <%= fullName %> or it makes
		your smoothie taste better, depending on the flavor. Like most plant based
		meal replacement products, <%= fullName %> is filled with plant based protein
		&amp; green nutrition. If your smoothie tastes like it has something extra
		and unpleasant in it after you've blended in <%= fullName %>, we will refund
		you 100%.
	</p>

	</div>

	<hr class="liv-prod-hr">

	<div class="liv-prod-details-container split">

		<div class="liv-prod-details-left">

			<h2>Love What You Get</h2>

			<% questions.forEach(function(q) { %>
				<h4><%= q %></h4>
			<% }); %>

			<h2 class="liv-green">We've got you covered</h2>

		</div>

		<div class="liv-prod-details-right">

			<p id="liv-prod-benefits">
				<% benefits.forEach(function(b) { %>
					<%= b %><br>
				<% }); %>
			</p>

		</div>

	</div>

	<hr class="liv-prod-hr">

	<div class="liv-prod-details-container split">

		<div class="liv-prod-details-left">

			<h2>Ingredients &amp; Nutrition</h2>
			<h2 class="liv-green liv-sub-heading">You Can Count On</h2>

			<p id="liv-ingredients"><b>Ingredients:</b> <%= ingredients %></p>

			<% categories.forEach(function(c) { %>
				<h4><%= c %></h4>
			<% }); %>


		</div>

		<div class="liv-prod-details-right">

			<img id="liv-food-label" src="<%= foodLabel %>" />

		</div>

	</div>

	<hr class="liv-prod-hr">

	<div class="liv-prod-details-container">

	<h2>Suggested Use</h2>

	<% uses.forEach(function(u) { %>
		<h3 class="liv-green"><%= u.title %></h3>

		<p><%= u.text %></p>
	<% }); %>

	<!--<h3 class="liv-green">Blend It</h3>

	<p>
		We recommend blending 1 scoop of Liv On GO into 8
		oz or more of your favorite breakfast smoothie. 
		It also tastes great in an 8 oz glass of almond milk.
	</p>

	<h3 class="liv-green">Soup It</h3>

	<p>
		We also recommend adding a 1/2 scoop of Liv On GO
		to a bowl of your favorite soup. Our favorite soup to do this with
		is Tomato, but other soups are just as tasty.
	</p>-->

	</div>

</div>

<div id="liv-prod-details-wrapper-mb">

	<div class="liv-prod-details-container-mb">
		<div class="liv-prod-details-hdr">
			<span class="liv-prod-details-hdr-title">Our Guarantee</span>
			<div class="liv-arrow down">

			</div>
		</div>

		<div class="liv-prod-details-content">
			<h3>Blends flawlessly in your smoothie or it's free. We mean it.</h3>

			<p>Unlike most plant based meal replacement products, ours actually blends
				completely in smoothies – either you can't taste Liv On GO or it makes
				your smoothie taste better, depending on the flavor. Like most plant based
				meal replacement products, Liv On GO is filled with plant based protein
				&amp; green nutrition. If your smoothie tastes like it has something extra
				and unpleasant in it after you've blended in Liv On GO, we will refund
				you 100%.
			</p>
		</div>

	</div>

	<div class="liv-prod-details-container-mb">
		<div class="liv-prod-details-hdr">
			<span class="liv-prod-details-hdr-title">Love What You Get</span>
			<div class="liv-arrow down">

			</div>
		</div>

		<div class="liv-prod-details-content">
			<% questions.forEach(function(q) { %>
				<h4><%= q %></h4>
			<% }); %>

			<h3 class="liv-green">We've got you covered</h3>

			<p id="liv-prod-benefits-mb">
				<% benefits.forEach(function(b) { %>
					<%= b %><br>
				<% }); %>
			</p>

		</div>

	</div>

	<div class="liv-prod-details-container-mb">
		<div class="liv-prod-details-hdr">
			<span class="liv-prod-details-hdr-title">Ingredients &amp; Nutrition</span>
			<div class="liv-arrow down">

			</div>
		</div>

		<div class="liv-prod-details-content">
			<h3 class="liv-green liv-sub-heading">You Can Count On</h3>

			<p id="liv-ingredients"><b>Ingredients:</b> <%= ingredients %></p>

			<% categories.forEach(function(c) { %>
				<h4><%= c %></h4>
			<% }); %>

			<img id="liv-food-label-mb" src="<%= foodLabel %>" />

		</div>

	</div>

	<div class="liv-prod-details-container-mb">
		<div class="liv-prod-details-hdr">
			<span class="liv-prod-details-hdr-title">Suggested Use</span>
			<div class="liv-arrow down">

			</div>
		</div>

		<div class="liv-prod-details-content">
			<% uses.forEach(function(u) { %>
				<h3 class="liv-green"><%= u.title %></h3>

				<p><%= u.text %></p>
			<% }); %>

		</div>

	</div>

</div>

