<div class="liv-content-container">
	<h2 class="liv-overlay-text liv-content-heading left">Products</h2>

	<div>
		<div id="liv-img-fruit" class="liv-img-left"></div>
		<img class="liv-img-right" src="/images/green_smoothie.jpg" />
	</div>

	<!--<p id="liv-content-products" class="liv-overlay-text liv-content">
		The Green Nutrition You Want <br> Blended Into A Smoothie You'll Actually Love
	</p>-->

</div>

<% for(var i = 0; i < products.length; i+=2) { %>
	<div class="liv-products-container">
	
		<div class="liv-product left">
			<p class="liv-lbl-new <%= products[i].isNew === false ? 'liv-hidden' : '' %>">New</p>
			<a href="<%= products[i].url %>">
				<img class="liv-img-prod" src="<%= products[i].img %>" />
			</a>
			<p class="liv-prod-title">
				Liv On <% products[i].names.forEach(function(n) { %>
					<span style="color: <%= n.nameColor %>"><%= n.name %> </span>
		 		<% }); %>
			</p>
			<p>
				<%= products[i].subtype %>
			</p>
			<a class="liv-btn learn-more" href="<%= products[i].url %>">Learn More</a>
			<!--<a class="liv-btn cart-add" href="#">Add to Cart</a>-->
		</div>

		<% if (i + 1 < products.length) { %>
			<div class="liv-product right">
				<p class="liv-lbl-new <%= products[i + 1].isNew === true ? '' : 'liv-hidden' %>">New</p>
				<a href="<%= products[i + 1].url %>">
					<img class="liv-img-prod" src="<%= products[i + 1].img %>" />
				</a>
				<p class="liv-prod-title">
					Liv On <% products[i + 1].names.forEach(function(n) { %>
						<span style="color: <%= n.nameColor %>"><%= n.name %> </span>
			 		<% }); %>
				</p>
				<p>
					<%= products[i + 1].subtype %>
				</p>
				<a class="liv-btn learn-more" href="<%= products[i + 1].url %>">Learn More</a>
				<!--<a class="liv-btn cart-add" href="#">Add to Cart</a>-->
			</div>
		<% } %>

	</div>
<% } %>

<!--<div id="liv-products-container">
	<div class="liv-product left">
		<p class="liv-lbl-new">New</p>
		<a href="/checkout/liv-on-choc-cinn-sample-pack">
			<img class="liv-img-prod" src="/images/products/choc_cinn/liv_on_choc_cinn_front.png" />
		</a>
		<p class="liv-prod-title">
			Liv On <b>Chocolate Cinnamon</b> Sample Pack
		</p>
		<p>
			Healthy Protein
		</p>
		<a class="liv-btn learn-more" href="/checkout/liv-on-choc-cinn-sample-pack">Learn More</a>
		<a class="liv-btn cart-add" href="#">Add to Cart</a>
	</div>

	<div class="liv-product right">
		<p class="liv-lbl-new">New</p>
		<a href="/products/details/liv-on-go">
			<img class="liv-img-prod" src="/images/liv_on_go.png" />
		</a>
		<p class="liv-prod-title">
			Liv On <b>GO</b>
		</p>
		<p>
			Organic Meal Replacement
		</p>
		<a class="liv-btn learn-more" href="/products/details/liv-on-go">Learn More</a>
		<a class="liv-btn cart-add" href="#">Add to Cart</a>
	</div>
</div>

<div id="liv-products-container">
	
	<div class="liv-product left">
		<p class="liv-lbl-new">New</p>
		<a href="/products/details/liv-on-fit">
			<img class="liv-img-prod" src="/images/liv_on_fit_chocolate.png" />
		</a>
		<p class="liv-prod-title">
			Liv On <b>Fit</b>
		</p>
		<p>
			Sport Performance Protein
		</p>
		<a class="liv-btn learn-more" href="/products/details/liv-on-fit">Learn More</a>
		<a class="liv-btn cart-add" href="#">Add to Cart</a>
	</div>-->

	