<div id="liv-modal-signup-bg" class="liv-gone"></div>

<div id="liv-signup" class="liv-gone" data-popuptime="5000">

	<div id="liv-signup-wrap-1">

		<h2>Get FREE Recipes, Plant Based Fitness Advice &amp; *Special Deals*</h2>
		<!--<h4>(Signing Up Helps Support Animal Rights!)</h4>-->

		<form id="liv-signup-form" action="">

			<input type="hidden" name="_csrf" value="<%= _csrf %>" />

			<input type="hidden" name="list" value="LivOnCommunity" />

			<input class="liv-signup-txt" type="text" name="firstName" placeholder="First Name" />

			<input class="liv-signup-txt" type="email" name="email" placeholder="Email" />

			<button id="liv-signup-submit" class="liv-btn">Yes! I Want FREE Recipes, Advice &amp; *Deals*!</button>

			<a class="liv-green liv-signup-cancel" href="#">No thanks, I don't want to save money</a>

		</form>
	</div>

	<div id="liv-signup-wrap-2" class="liv-hidden">
		<h2>Welcome To The Liv On Community!</h2>
		<h2 class="liv-green">You'll start getting emails from us with free, creative &amp; tasty recipes, plant based fitness advice, &amp; special deals</h2>
		<br>
		<br>
		<h2>Congratulations On Eating Clean!</h2>
		<a class="liv-green liv-signup-cancel" href="#">close</a>

	</div>
		

</div>