<div id="liv-modal-signup-bg" class="liv-gone"></div>

<div id="liv-signup" class="liv-gone">

	<div id="liv-signup-wrap-1">

		<h2>Get The *Secret* Low Sugar Recipe!<br>FREE!</h2>
		<h4>(Signing Up Helps Support Animal Rights!)</h4>

		<form id="liv-signup-form" action="">

			<input type="hidden" name="_csrf" value="<%= _csrf %>" />

			<input type="hidden" name="list" value="SuperHeroVegans" />

			<input class="liv-signup-txt" type="text" name="firstName" placeholder="First Name" />

			<input class="liv-signup-txt" type="email" name="email" placeholder="Email" />

			<button id="liv-signup-submit" class="liv-btn">Yes! I Want The *Secret* Low Sugar Receipe!</button>

			<a class="liv-green liv-signup-cancel" href="#">No thanks, I want to eat more sugar</a>

		</form>
	</div>

	<div id="liv-signup-wrap-2" class="liv-hidden">
		<h2>Your FREE *Secret* Low Sugar Recipe<br>Is On The Way!</h2>
		<h2 class="liv-green">Check Your Inbox</h2>
		<br>
		<br>
		<h2>Congratulations On Eating Cleaner & Saving Animals!</h2>
		<a class="liv-green liv-signup-cancel" href="#">close</a>

	</div>
		

</div>